/*  colour.scss ===============================================================

    The default colour scheme.

    @package    WordPress
    @subpackage Copernicus
    @since      Copernicus 2.0

============================================================================ */

$Background: #F6F3EF;
$Foreground: #302E2C;

$Header-Background: #302E2C;
$Header-Foreground: #F6F3EF;

$Primary: #0087BD;
$Secondary: #009F6B;
$Accent: #E77E81;

$Minor-Foreground: #7E7C79;
$Minor-Primary: #47ADD3;
$Minor-Secondary: #55C496;
$Minor-Accent: #FCB7B7;


//  Default text --------------------------------------------------------------

body {
    background-color: $Background;
    color: $Foreground;
}

a, a:visited {
    color: $Primary;
}

a:hover{
    color: $Accent;
}


//  Images --------------------------------------------------------------------

figcaption {
    background-color: $Header-Background;
    color: $Header-Foreground;
}

figcaption a, figcaption a:visited {
    color: $Minor-Primary;
}

//  Site header ---------------------------------------------------------------

#site-header {
    background-color: $Header-Background;
    color: $Header-Foreground;
    a, a:visited { color: $Header-Foreground; }
}

#site-navigation {
    background-color: $Background;
    color: $Primary;
    a, a:visited { color: $Primary; }
}

#site-navigation .current_page_item {
    color: $Header-Foreground;
    a, a:visited { color: $Header-Foreground; }
    background-color: $Primary;
}

@media screen and (max-width: 567px) {
    #site-navigation {
        background-color: $Primary;
        color: $Background;
        a, a:visited { color: $Background; }
    }
}

//  Posts ---------------------------------------------------------------------

h1, h2 {
    color: $Primary;
}


//  Post footers --------------------------------------------------------------

.footnoteref {
    background-color: $Secondary;
    a { color: $Header-Foreground; }
}

.footnoteref:hover {
    background-color: $Accent;
}

.footnotes li:before {
    background-color: $Minor-Foreground;
    color: $Header-Foreground;
}

.backlink, .backlink:visited {
    color: $Secondary;
}

.post-meta {
    li:before {
        color: $Secondary;
    }
}

footer {
    color: $Minor-Foreground;
    a, a:visited {
        color: $Minor-Primary;
    }
    a:hover {
        color: $Minor-Accent;
    }
}


// Site footer ----------------------------------------------------------------

.site-pagination a, .pagination a:visited {
    color: $Secondary;
}

.site-pagination .current {
    color: $Header-Foreground;
    background-color: $Secondary;
}