#comments {

	/*##########
	## LAYOUT ##
	##########*/

	.comment-author {
		@extend .SideColumnColumn;
		@extend .AttachColumnColumnToRight;
	}

	.comment-body {
		@extend .MainColumnColumn
	}

	/*##########
	## STYLES ##
	##########*/


	@extend .NoShadows;

	h2 { 
		@extend .FullColumn;
		text-align: center;
	}


	article {
		@extend .PreParSkip;
		@extend .Shadows; 
	}

	.comment-author {
		@extend .PaddedLayoutElement;
		@media screen and #{$MediumScreen} { @include paddedbox(1,0.5,1,0.5); }
		float: right;
		background-color: $AltBackground;
		img {
			@extend .Shadows;
			margin-right: 12px;
			float: left;
			width: 64px;
			height: 64px;
		}
		img + h4 {
			@extend .NoPreParSkip;
		}

		h4, h4 a {
			-webkit-hyphens: auto;
			-moz-hyphens: auto;
			hyphens: auto;
		}

		z-index: 1;
	}

	.comment-body {
		@extend .PaddedLayoutElement;
		background-color: $Background;
		min-height: 7em;
		float: left;
	}

	.reply {
		@include footnotetype;
		margin-top: 0.25rem;
	}

	.children {
		@extend .NoPreParSkip;
		padding: 0 0 0 12px;
		border-left: 4px solid $Light;
	}
		
	#respond {
		h3 {
			@extend .FullColumn;
			text-align: center;
		}

		p {
			@extend .PreParSkip; // there's a :first-child of the form here
			text-align: left;
		}

		//.logged-in-as {
		//	@extend .comment-author;
		//}

		.comment-form-comment {
		//	@extend .comment-body;
			padding: 0;
		//	label { display: none; }
			textarea {
				width: 100%;
			}
		}
		
		label {
			margin-right: $HGutter;
		}

		#submit {
			background-color: $Foreground;
			color: $Background;
		}
	}
}