#comments-list {
	margin: 36px auto 0 auto;
	max-width: 768px;
	width: 100%;
}

.comments-list-title, .comment-reply-title {
	padding: 10px 40px;
	background-color: $CommentHeaderBackground;
	color: $CommentHeaderForeground;
}

.comment {
	margin: 18px 0;
}

.comment-meta {
	font-size: $CommentMetaFontSize;
}

.comment-meta h4 {
	font-weight: bold;
}

.comment-form {
	padding: 18px 40px;
}

.comment-form input, .comment-form textarea {
	padding: 5px;
	border: 2px solid $InputBorderColour;
}

.comment-form input:active, .comment-form textarea:active {
	border: 2px solid $ActiveInputBorderColour;
}

.comment-form #submit {
	width: 100%;
	border: none;
	background-color: $CommentSubmitBackground;
	color: $CommentSubmitForeground;
	cursor: pointer;
}

.form-allowed-tags {
	color: $FootnoteForeground;
	font-size: $FootnoteFontSize;
}

@media screen and (max-width: 767px) {
	.comment-header {
		padding: 10px 40px;
	}

	.comment-header img {
		display: none;
	}

	.comment-meta h4, .comment-meta time, .comment-reply-link {
		display: inline-block;
	}

	.comment-content {
		padding: 18px 40px;
	}

	.comment-form label {
		display: block;
	}

	.comment-form input, .comment-form textarea {
		width: 100%;
	}
}


@media screen and (min-width:768px) {
	.comment {
		border-bottom: 1px solid $Lighter;
	}

	.comment-header {
		z-index: 10;
		float:right;
		margin-bottom: 20px;
		margin-left: 40px;
		width:768px * 0.25;
	}

	.comment-header img {
		float: right;
		margin-left: 10px;
	}

	.comment-meta h4, .comment-meta time {
		margin-bottom: 5px;
	}

	.comment-meta time {
		display: inline-block;
	}

	.comment-content {
		padding: 0 40px;
	}

	.comment-form label {
		display: inline-block;
		float:left;
		width: 15%;
	}

	.comment-form input {
		width: 60%;
	}

	.comment-form textarea {
		clear: both;
		width: 85%;
	}
}