body {
    background-color: #F6F3EF;
    color: #302E2C;
}

a, a:visited {
    color: #0087BD;
}

a:hover{
    color: #E77E81;
}

blockquote {
    color: #7E7C79;
    border-left: 3px solid #009F6B;
}

h1, h2 {
    color: #0087BD;
}


* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    line-height: 1;
}

body {
    padding: 40px;
    font-size: 16px;
    font-family: "Avenir Next", Avenir, Trebuchet, sans-serif;
    text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5 {
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.2;
    font-weight: normal;
}

h1 { font-size: 30px; }
h2 { font-size: 20px; }

p, pre {
    margin-bottom: 10px;
    line-height: 1.4;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul, ol, dl {
    margin-bottom: 10px;
    line-height: 1.4;
}

li, dt, dd {
    margin-bottom: 5px;
}

ul, ol, dd {
    margin-left: 20px;
}

strong, b {
    font-weight: bold; 
}
em, i { 
    font-style: italic;
}

blockquote {
    padding-left: 20px;
}

code {
    font-family: Inconsolata, monospace;
}