/*#########################
## GRIDS AND BREAKPOINTS ##
#########################*/

$LargeGrid: 1024px;
$MediumGrid: 768px;
$SmallGrid: 100%;

$LargeScreen: "(min-width: 1024px)";
$MediumScreen: "(min-width: 768px) and (max-width: 1023px)";
$SmallScreen: "(max-width: 767px)";

$RetinaScreen: "(-webkit-min-device-pixel-ratio: 2), screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx)";

/*##########
## LENGTHS ##
##########*/

$PSkip: 1em;
$VGutter: 1.5rem;
$HGutter: 3rem;

$DefaultLineHeight: 1.5em;

/*###########
## COLOURS ##
###########*/

@import 'palettes.scss';

$Foreground: $MidDark;				/* default text colour */
$Background: $White;			/* default background */

$HeaderForeground: $White;		/* default header colour */
$HeaderBackground: $Dark;		/* default header background */

$AltForeground: $Mid;			/* secondary text colour */
$AltBackground: $Light;			/* caption and sidenote background */