/*#########################
## GRIDS AND BREAKPOINTS ##
#########################*/

$HugeGrid: 1024px;
$LargeGrid: 768px;
$MediumGrid: 576px;
$SmallGrid: 100%;

$HugeScreen: "(min-width: 1024px)";
$LargeScreen: "(min-width: 768px) and (max-width: 1023px)";
$MediumScreen: "(min-width: 576px) and (max-width: 767px)";
$ColumnatedScreen: "(min-width: 576px)";
$SmallScreen: "(max-width: 575px)";

$RetinaScreen: "(-webkit-min-device-pixel-ratio: 2), screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx)";

/*##########
## LENGTHS ##
##########*/

$VGutter: 12px;
$HGutter: 24px;

$DefaultFontSize: 1em;
$DefaultLineHeight: 1.5em;

/*###########
## COLOURS ##
###########*/

@import 'palettes.scss';

$Foreground: $MidDark;				/* default text colour */
$Background: $White;			/* default background */

$HeaderForeground: $White;		/* default header colour */
$HeaderBackground: $Dark;		/* default header background */

$AltForeground: $Mid;			/* secondary text colour */
$AltBackground: $Light;			/* caption and sidenote background */