@import 'palettes.scss';
@import 'type.scss';

body {
	text-rendering: optimizeLegibility;
}

h1, h2 {
	margin: 20px 0;
	border-bottom: 2px solid $PostSubheadUnderline;
	font-size: $PostSubheadFontSize;
	font-family: $HeadlineTypeface;
}

p {
	margin-bottom: 10px;
}

a {
	color: $LinkForeground;
	text-decoration:none;
}

a:hover {
	text-decoration: underline;
}

img {
	max-width: 100%;
	height: auto;
}

.alignleft, .alignright {
	max-width: 100%;
	height: auto;
}

@media screen and (max-width: 479px) {
	img, .alighleft, .alignright {
		display: block;
		margin-bottom: 10px;
		width: 100%;
	}
}

@media screen and (min-width: 480px) {
	.alignleft {
		float: left;
		margin-right: 20px;
		margin-bottom: 10px;
		max-width: 50%;
	}

	.alignright {
		float:right;
		margin-bottom: 10px;
		margin-left: 20px;
		max-width: 50%;
	}
}

dt {
	font-style: italic;
}

dd {
	margin-left: 40px;
}

dt:not(:last-child) {
	margin-bottom: 5px;
}

dd, li {
	margin-bottom: 10px;
}

blockquote {
	padding: 0 20px;
	color: $QuoteForeground;
}

code {
	font-family: monospace;
}

strong, b {
	font-weight: bold; 
}
em, i { 
	font-style: italic;
}

sup, sub { 
	position: relative; 
	vertical-align: baseline; 
	font-size:$FootnoteFontSize;
}
sup	{ top: -0.4em; }
sub	{ top:  0.4em; }

table {
	width: 100%;
}

thead {
	width: 100%;
	background-color: $THeadBackground;
	font-family: $HeadlineTypeface;
}

th:first-child, td:first-child {
	padding-left: 40px;
}

th:last-child, td:last-child {
	padding-right: 40px;
}

thead th {
	padding: 10px;
}

tbody td {
	padding: 5px 0;
}
