/*  icomoon.scss ==============================================================

    @uses font-family: 'icomoon' to provide the following icons:

    - pdf file              \e600
    - zip file              \e601
    - xml file              \e602
    - css file              \e603

    - email                 \e60d
    - location              \e61b
    - linkedin profile      \e604
    - github profile        \e605
    - flickr profile        \e606
    - twitter profile       \e607
    - stackoverflow profile \e60b
    - googleplus profile    \e618
    - facebook profile:     \e60a
    
    - calendar              \e60e
    - refresh               \e61a
    - folder                \e60c
    - tag                   \e616
    - camera                \e612
    - add person            \e619

    - checkmark             \e614
    - cancel                \e613

    - creative commons      \e608
    - external link         \e609
    - search                \e60f
    - settings              \e610
    - RSS feed              \e617
    - chart                 \e61e

    @package    WordPress
    @subpackage Copernicus
    @since      Copernicus 2.0

============================================================================ */

@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot');
    src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf') format('truetype'),
        url('../fonts/icomoon.woff') format('woff'),
        url('../fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}