@import 'palettes.scss';
@import 'type.scss';


body {
	width: 100%;
	color: $BodyForeground;
	font-size: $BodyFontSize;
	font-family: $BodyTypeface;
	line-height: 1.4;
	margin: 0 0 100px 0;
}

/*  Site Header ===============================================================
	Includes site title and site navigation
============================================================================ */

.site-header {
	width: 100%;
}

	//  Site Title ------------------------------------------------------------

	.site-title {
		display: inline-block;
		padding: 0.3em 40px;
		width: 100%;
		color: $SiteTitleForeground;
		font-size: $SiteTitleFontSize;
		line-height: 1.2;
		font-family: $HeadlineTypeface;
	}

	.site-title, a.site-title {
		color: $SiteTitleForeground;
		text-decoration: none;
	}

	a.site-title:hover {
		text-decoration: underline;
	}

	//  Site Header -----------------------------------------------------------

	.site-navigation {
		padding: 0 20px;
		width: 100%;
		background-color: $SiteNavBackground;
	}

	.site-navigation a {
		display: inline-block;
		padding: 10px 20px;
		color: $SiteNavForeground;
		text-decoration: none;

		@media screen and (max-width: 479px) {
			display: none;
		}
	}

	.site-navigation a:hover, .site-navigation a:active {
		background-color: $SiteNavForeground;
		color: $SiteNavBackground;
	}

	.menu-toggle {
		display: none;
		@media screen and (max-width: 479px) {
			display: block;
			padding: 10px 20px;
			color: $SiteNavForeground;
			text-decoration: none;
		}
	}

	.menu-toggle:after{
		@extend .genericons;
		position: relative;
		top: -2px;
		margin-left: 5px;
		content: '\f431';
		font-weight: bold;
		font-size: $BodyFontSize;
	}

	.toggled-on .menu-toggle:after{
		@extend .genericons;
		content: '\f432';
	}

	.toggled-on a {
		display: block;
	}


/*  Posts and pages ===========================================================
	Includes featured image, header, and post content
============================================================================ */

.page-title {
	display: block;
	width: 100%;
}

.post {
	margin: 40px auto 0 auto;
	max-width: 768px;
	width: 100%;
	padding: 0 40px;
	background-color: $PostContentBackground;
}

.post-content >:last-child {
	margin-bottom: 0;
}

	//  Post Thumbnail --------------------------------------------------------

	.post-thumbnail {
		overflow: hidden;
		width: 100%;
		line-height: 0;
	}

	.post-thumbnail img {
		max-width: 100%;
		margin: 0;
	}

	//  Post Header -----------------------------------------------------------

	.post-title {
		margin:0 0 5px 0;
		font-size: $PostTitleFontSize;
		font-family: $HeadlineTypeface;

		a {
			color: $PostTitleForeground;
		}
	}

	//  Post Meta -------------------------------------------------------------

	.post-meta {
		font-size: $PostMetaFontSize;
		margin-bottom: 20px;
	}

	.post-meta, .post-meta a, .post-meta a:visited {
		color: $PostMetaForeground;
		text-decoration: none;
	}

	.post-meta > time:not(:last-child) {
		margin-right: 20px;
	}

	.post-date:before {
		@extend .genericons;
		position: relative;
		top: -2px;
		margin-right: 3px;
		content: "\f303";
	}

	.post-updated:before {
		@extend .genericons;
		position: relative;
		top: -2px;
		margin-right: 3px;
		content: '\f420';
	}

	.comments-link a:before {
		@extend .genericons;
		position: relative;
		top: -1px;
		margin-right: 2px;
		content: "\f300";
	}

	.edit-link a:before {
		@extend .genericons;
		position: relative;
		top: -1px;
		content: "\f411";
	}


/*  Footer ====================================================================
	Site pagination and the colophon at the bottom of the page
============================================================================ */

.site-pagination {
	margin-top: 36px;
	padding: 5px 40px;
	width: 100%;
	text-align: center;
	font-size: $FootnoteFontSize;
}

.site-pagination a {
	color: $SitePaginationForeground;
}

.colophon {
	padding: 10px;
	background-color: $ColophonBackground;
	color: $ColophonForeground;
	text-align: center;
	font-size: $FootnoteFontSize;
	position: absolute;
	left: 0;
	bottom:0;
	right: 0;
	height: 4em;
	width: 100%;
}

.colophon a {
	color: $ColophonLink;
}