@import 'palettes.scss';
@import 'type.scss';


body {
	width: 100%;
	color: $BodyForeground;
	font-size: $BodyFontSize;
	font-family: $BodyTypeface;
	line-height: 1.4;
}

/*  Site Header ===============================================================
	Includes site title and site navigation
============================================================================ */

.site-header {
	width: 100%;
}

	//  Site Title ------------------------------------------------------------

	.site-title {
		display: inline-block;
		padding: 20px 40px;
		width: 100%;
		background-color: $SiteTitleBackground;
		font-size: $SiteTitleFontSize;
		font-family: $HeadlineTypeface;
	}

	.site-title, a.site-title {
		color: $SiteTitleForeground;
		text-decoration: none;
	}

	a.site-title:hover {
		text-decoration: underline;
	}

	//  Site Header -----------------------------------------------------------

	.site-navigation {
		padding: 0 20px;
		width: 100%;
		background-color: $SiteNavBackground;
	}

	.site-navigation a {
		display: inline-block;
		padding: 10px 20px;
		color: $SiteNavForeground;
		text-decoration: none;

		@media screen and (max-width: 479px) {
			display: none;
		}
	}

	.site-navigation-separator {
		padding: 10px 5px;
		@media screen and (max-width: 479px) {
			display: none;
		}
	}

	.site-navigation a:hover, .site-navigation a:active {
		background-color: $SiteNavForeground;
		color: $SiteNavBackground;
	}

	.menu-toggle {
		display: none;
		@media screen and (max-width: 479px) {
			display: block;
			padding: 10px 20px;
			color: $SiteNavForeground;
			text-decoration: none;
		}
	}

	.menu-toggle:after{
		position: relative;
		top: -2px;
		margin-left: 5px;
		content: '\f431';
		font-weight: bold;
		font-size: $BodyFontSize;
	}

	.toggled-on .menu-toggle:after{
		content: '\f432';
	}

	.toggled-on a {
		display: block;
	}


/*  Posts and pages ===========================================================
	Includes featured image, header, and post content
============================================================================ */

.page-title {
	display: block;
	padding: 20px 40px;
	width: 100%;
	font-size: $SiteTitleFontSize;
}

.post {
	margin: 36px auto 0 auto;
	max-width: 768px;
	width: 100%;
}

@media screen and (max-width:768px) {
	.site-header + .post {
		margin: 0 auto;
	}
}

	//  Post Thumbnail --------------------------------------------------------

	.post-thumbnail {
		overflow: hidden;
		width: 100%;
		line-height: 0;
	}

	.post-thumbnail img {
		max-width: 100%;
	}

	//  Post Header -----------------------------------------------------------

	.post-header {
		padding: 10px 40px;
		background-color: $PostHeaderBackground;
	}

	a.post-title {
		color: $PostTitleForeground;
		font-size: $PostTitleFontSize;
		font-family: $HeadlineTypeface;
	}

	//  Post Meta -------------------------------------------------------------

	.post-meta {
		font-size: $PostMetaFontSize;
	}

	.post-meta > span {
		display: inline-block;
	}

	.post-meta > span:not(:last-of-type) {
		margin-right: 20px;
	}

	.post-meta a, .post-meta a:visited {
		color: $PostMetaForeground;
		text-decoration: none;
	}

	.post-meta .date a:before {
		position: relative;
		top: -2px;
		content: "\f303";
	}

	.post-meta .author a:before {
		position: relative;
		top: -2px;
		content: "\f304";
	}

	.categories-links a:first-child:before {
		position: relative;
		top: -2px;
		content: "\f301";
	}

	.tags-links a:first-child:before {
		position: relative;
		top: -1px;
		content: "\f302";
	}

	.comments-link a:before {
		position: relative;
		top: -1px;
		margin-right: 2px;
		content: "\f300";
	}

	.edit-link a:before {
		position: relative;
		top: -1px;
		content: "\f411";
	}


	//  Post Content ----------------------------------------------------------

	.post-content {
		padding: 20px 40px;
		background-color: $PostContentBackground;
	}


/*  Footer ====================================================================
	Site pagination and the colophon at the bottom of the page
============================================================================ */

.site-pagination {
	margin-top: 36px;
	padding: 5px 40px;
	width: 100%;
	background-color: $SitePaginationBackground;
	text-align: center;
	font-size: $FootnoteFontSize;
}

.site-pagination a {
	color: $SitePaginationForeground;
}

.colophon {
	padding: 20px;
	width: 100%;
	background-color: $ColophonBackground;
	color: $ColophonForeground;
	text-align: center;
	font-size: $FootnoteFontSize;
}

.colophon a {
	color: $ColophonLink;
}