html { overflow-y: scroll; font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, div { display: block; position: relative; }

.column article, .column aside, .column details, .column figcaption, .column figure, .column footer, .column header, .column hgroup, .column menu, .column nav, .column section, .column div { position: static; }

* { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

/* The micro clearfix http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, body:before, section:before, article:before, aside:before, figure:before, header:before, footer:before, div:before, nav:before, .clearfix:after, body:after, section:after, article:after, aside:after, figure:after, header:after, footer:after, div:after, nav:after { content: ''; display: table; }
.clearfix:after, body:after, section:after, article:after, aside:after, figure:after, header:after, footer:after, div:after, nav:after { clear: both; }

.red h2, .red a { color: #dc322f; }

.orange h2, .orange a { color: #cb4b16; }

.yellow h2, .yellow a { color: #b58900; }

.green h2, .green a { color: #859900; }

.cyan h2, .cyan a { color: #2aa198; }

.blue h2, .blue a { color: #268bd2; }

.violet h2, .violet a { color: #6c71c4; }

.magenta h2, .magenta a { color: #d33682; }

/*#########################
## GRIDS AND BREAKPOINTS ##
#########################*/
/*##########
## LENGTHS ##
##########*/
/*###########
## COLOURS ##
###########*/
.red h2, .red a { color: #dc322f; }

.orange h2, .orange a { color: #cb4b16; }

.yellow h2, .yellow a { color: #b58900; }

.green h2, .green a { color: #859900; }

.cyan h2, .cyan a { color: #2aa198; }

.blue h2, .blue a { color: #268bd2; }

.violet h2, .violet a { color: #6c71c4; }

.magenta h2, .magenta a { color: #d33682; }

/* default text colour */
/* default background */
/* default header colour */
/* default header background */
/* secondary text colour */
/* caption and sidenote background */
/*#########################
## GRIDS AND BREAKPOINTS ##
#########################*/
/*##########
## LENGTHS ##
##########*/
/*###########
## COLOURS ##
###########*/
.red h2, .red a { color: #dc322f; }

.orange h2, .orange a { color: #cb4b16; }

.yellow h2, .yellow a { color: #b58900; }

.green h2, .green a { color: #859900; }

.cyan h2, .cyan a { color: #2aa198; }

.blue h2, .blue a { color: #268bd2; }

.violet h2, .violet a { color: #6c71c4; }

.magenta h2, .magenta a { color: #d33682; }

/* default text colour */
/* default background */
/* default header colour */
/* default header background */
/* secondary text colour */
/* caption and sidenote background */
/*###############################
## ABSTRACT SECTION TEMPLATES  ##
###############################*/
/*#########################
## GRIDS AND BREAKPOINTS ##
#########################*/
/*##########
## LENGTHS ##
##########*/
/*###########
## COLOURS ##
###########*/
.red h2, .red a { color: #dc322f; }

.orange h2, .orange a { color: #cb4b16; }

.yellow h2, .yellow a { color: #b58900; }

.green h2, .green a { color: #859900; }

.cyan h2, .cyan a { color: #2aa198; }

.blue h2, .blue a { color: #268bd2; }

.violet h2, .violet a { color: #6c71c4; }

.magenta h2, .magenta a { color: #d33682; }

/* default text colour */
/* default background */
/* default header colour */
/* default header background */
/* secondary text colour */
/* caption and sidenote background */
/*##########
## MIXINS ##
##########*/
/*####################
## BASIC TYPOGRAPHY ##
####################*/
body { font-size: 1rem; line-height: 1.5em; text-rendering: optimizeLegibility; }

body > footer { font-size: 0.755rem; line-height: 1.2em; }

h1, h2, h3 { font-size: 1.324rem; line-height: 1.125em; }

h4, th, dt, nav { font-size: 1rem; line-height: 1.125em; }

figcaption { font-size: 0.825rem; line-height: 1.35em; margin-bottom: 3px; }

dt, dd, th, td { line-height: 1.425em; }

strong, b { font-weight: bold; }

em, i { font-style: italic; }

sup, sub { font-size: 0.825rem; line-height: 1.35em; vertical-align: baseline; position: relative; }

sup { top: -0.4em; }

sub { top: 0.4em; }

@media screen and (min-width: 768px) { p, blockquote, dt, dd, li { text-align: justify; text-justify: distribute; } }

/*###############################
## THEME CUSTOMIZABLE DEFAULTS ##
###############################*/
body { font-family: source-sans-pro, "Source Sans Pro", sans-serif; }

header, h1, h2, h3, h4, th, dt, nav { font-family: adelle, "Adelle Basic", Palatino, serif; }

a { color: #708284; }

button { background-color: #073642; }

/*###################
## BASIC STRUCTURE ##
###################*/
body { width: 100%; }

body > header, body > footer { width: 100%; text-align: center; }

body > header h1 { padding-top: 12px; padding-right: 24px; padding-bottom: 12px; padding-left: 24px; }

body > footer { padding-top: 12px; padding-right: 24px; padding-bottom: 12px; padding-left: 24px; margin-bottom: 0; }

body > section, body > article { width: 100%; margin: 0 auto; }
@media screen and (min-width: 768px) and (max-width: 1023px) { body > section, body > article { width: 768px; } }
@media screen and (min-width: 1024px) { body > section, body > article { width: 1024px; } }

body > section, body > article, body > nav { margin-bottom: 24px; }

@media screen and (max-width: 767px) { body > nav { margin-bottom: 0; } }

#splash figure, .gallery figure { float: left; line-height: 0; }
@media screen and (max-width: 767px) { #splash figure, .gallery figure { width: 100%; margin-left: 0px; margin-right: 0px; } }
@media screen and (min-width: 768px) { #splash figure, .gallery figure { margin-left: 0px; margin-right: 0px; } }
@media screen and (min-width: 768px) and (max-width: 1023px) { #splash figure, .gallery figure { width: 512px; } }
@media screen and (min-width: 1024px) { #splash figure, .gallery figure { width: 682.66667px; } }
#splash figure img, .gallery figure img { width: 100%; height: auto; }

#splash header, .gallery header { padding-top: 12px; padding-right: 24px; padding-bottom: 12px; padding-left: 24px; clear: none; float: left; margin-bottom: 0; }
@media screen and (max-width: 767px) { #splash header, .gallery header { width: 100%; margin-left: 0px; margin-right: 0px; } }
@media screen and (min-width: 768px) { #splash header, .gallery header { margin-left: 24px; margin-right: 0px; } }
@media screen and (min-width: 768px) and (max-width: 1023px) { #splash header, .gallery header { width: 232px; } }
@media screen and (min-width: 1024px) { #splash header, .gallery header { width: 317.33333px; } }
@media screen and (min-width: 768px) { #splash header, .gallery header { position: absolute; top: 0; bottom: 0; right: 0; } }

.column { padding: 24px 24px; margin-bottom: 0; float: left; }
@media screen and (max-width: 767px) { .column { width: 100%; margin-left: 0px; margin-right: 0px; } }
@media screen and (min-width: 768px) { .column { margin-left: 0px; margin-right: 0px; } }
@media screen and (min-width: 768px) and (max-width: 1023px) { .column { width: 512px; } }
@media screen and (min-width: 1024px) { .column { width: 682.66667px; } }

article header, section header { margin-bottom: 12px; }
article header time, section header time { display: block; margin-bottom: 0; margin-top: -12px; }

/*######################
## ADVANCED STRUCTURE ##
######################*/
.margin { clear: none; float: left; }
@media screen and (max-width: 767px) { .margin { width: 100%; margin-left: 0px; margin-right: 0px; } }
@media screen and (min-width: 768px) { .margin { margin-left: 24px; margin-right: 0px; } }
@media screen and (min-width: 768px) and (max-width: 1023px) { .margin { width: 232px; } }
@media screen and (min-width: 1024px) { .margin { width: 317.33333px; } }
@media screen and (max-width: 767px) { .margin { display: none; } }

@media screen and (max-width: 767px) { .margin.has-sidenotes { display: block; padding-top: 12px; padding-right: 24px; padding-bottom: 12px; padding-left: 24px; } }

.subsection { position: static; }
.subsection:not(:last-child) { margin-bottom: 24px; }

/*###################
## BASIC ELEMENTS ##
###################*/
nav { text-align: center; }

nav a { display: table-cell; float: left; margin-right: 6px; white-space: nowrap; }
nav a ul { margin: none; }

h2, h3, h4, h5, h6, p:not(:last-child), dl:not(:last-child), ul:not(:last-child), ol:not(:last-child), blockquote:not(:last-child) { margin-bottom: 12px; }

dt { margin-top: 12px; }

ul, ol, dd { padding-left: 24px; }

blockquote { padding-left: 24px; padding-right: 24px; }

@media screen and (max-width: 767px) { figure { text-align: center; }
  figure figcaption { text-align: left; } }

button { padding-top: 12px; padding-right: 24px; padding-bottom: 12px; padding-left: 24px; -moz-border-radius: 12px; border-radius: 12px; }

footer address { margin-top: 0; }

/*########################
## EXCEPTIONAL ELEMENTS ##
########################*/
#top-menus ul { /* remove pskip */ margin-bottom: 0; }

.menu { padding-left: 0; margin-bottom: 0; }
.menu > li { display: inline-block; position: relative; }
@media screen and (max-width: 767px) { .menu > li { width: 50%; } }
.menu .sub-menu { position: absolute; left: 0; top: 100%; padding-left: 0; display: none; z-index: 1; }
.menu li:hover .sub-menu { display: block; list-style: none; }

nav a { padding-top: 6px; padding-right: 24px; padding-bottom: 6px; padding-left: 24px; text-align: left; margin-right: 0; z-index: 2; }

#prev-next { font-size: 0.825rem; line-height: 1.35em; text-align: center; }

#splash header h2, .gallery header h2 { text-align: center; }
#splash header .infobox, .gallery header .infobox { width: 100%; margin-bottom: 12px; }
#splash header .infobox tr, .gallery header .infobox tr { width: 100%; }
#splash header .infobox th, .gallery header .infobox th, #splash header .infobox td, .gallery header .infobox td { width: 33%; }
#splash header .infobox-key, .gallery header .infobox-key { text-align: center; font-size: 0.825rem; line-height: 1.35em; }
#splash header .infobox-value, .gallery header .infobox-value { text-align: center; font-size: 1.324rem; line-height: 1.125em; font-size: 2.32094rem; }
#splash header .categories, .gallery header .categories { text-align: center; font-size: 0.755rem; line-height: 1.2em; }
#splash header .categories a, .gallery header .categories a { color: #708284; }

.cite, .sidenote, time { font-size: 0.755rem; line-height: 1.2em; margin-bottom: 3px; }

.margin figure { line-height: 0; margin-bottom: 12px; }
@media screen and (max-width: 767px) { .margin figure { display: none; } }
.margin figure img { width: 100%; height: auto; margin: 0; }
.margin figure figcaption { padding-top: 12px; padding-right: 24px; padding-bottom: 12px; padding-left: 24px; }

@media screen and (min-width: 768px) { .sidefig-placeholder { width: 0; height: 0; margin: 0; clear: none; }
  .sidefig-placeholder * { display: none; } }

@media screen and (min-width: 768px) { .footnote-snapback { display: none; } }

address, .author { margin-top: 24px; }
address h3, .author h3 { font-size: 1rem; margin-bottom: 6px; }
address p, .author p { font-size: 0.755rem; line-height: 1.2em; color: #708284; }
address img, .author img { height: auto; width: auto; float: left; }

.short h2 { margin-bottom: 0; }

/*###############
## MAIN STYLES ##
###############*/
html { background-image: url("../img/bg/pw_maze_white.png"); background-size: 46px auto; }
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) { html { background: url("../img/bg/pw_maze_white_@2X.png"); } }

body { color: #475b62; }

body > header, body > footer { color: white; background-color: #073642; }
body > header a, body > footer a { color: white; }

body > footer { color: #708284; }
body > footer #search label { display: none; }

.column { background-color: white; border: 1px solid #e4e6e6; -moz-box-shadow: 5px 5px 5px -5px #93a1a1, -5px 5px 5px -5px #93a1a1; -webkit-box-shadow: 5px 5px 5px -5px #93a1a1, -5px 5px 5px -5px #93a1a1; box-shadow: 5px 5px 5px -5px #93a1a1, -5px 5px 5px -5px #93a1a1; }

@media screen and (max-width: 767px) { .margin.has-sidenotes { background-color: #e4e6e6; -moz-box-shadow: 5px 5px 5px -5px #93a1a1, -5px 5px 5px -5px #93a1a1; -webkit-box-shadow: 5px 5px 5px -5px #93a1a1, -5px 5px 5px -5px #93a1a1; box-shadow: 5px 5px 5px -5px #93a1a1, -5px 5px 5px -5px #93a1a1; } }

.margin figure { -moz-box-shadow: 5px 5px 5px -5px #93a1a1, -5px 5px 5px -5px #93a1a1; -webkit-box-shadow: 5px 5px 5px -5px #93a1a1, -5px 5px 5px -5px #93a1a1; box-shadow: 5px 5px 5px -5px #93a1a1, -5px 5px 5px -5px #93a1a1; background-color: white; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }

blockquote, caption, code, pre, samp, time { color: #708284; }

button { color: white; }

.strong { color: #93a1a1; }

.regular { color: #708284; }

.weak { color: #475b62; }

/*######################
## EXCEPTIONAL STYLES ##
######################*/
#top-menus { -moz-box-shadow: 5px 5px 5px -5px #93a1a1, -5px 5px 5px -5px #93a1a1; -webkit-box-shadow: 5px 5px 5px -5px #93a1a1, -5px 5px 5px -5px #93a1a1; box-shadow: 5px 5px 5px -5px #93a1a1, -5px 5px 5px -5px #93a1a1; }

.menu li:hover .sub-menu { border: 1px solid #e4e6e6; background-color: white; -moz-box-shadow: 5px 5px 5px -5px #93a1a1, -5px 5px 5px -5px #93a1a1; -webkit-box-shadow: 5px 5px 5px -5px #93a1a1, -5px 5px 5px -5px #93a1a1; box-shadow: 5px 5px 5px -5px #93a1a1, -5px 5px 5px -5px #93a1a1; }

#primary-menu { background-color: #073642; }
#primary-menu a { color: white; }
#primary-menu .sub-menu a { color: #708284; }

#secondary-menu { background-color: white; }
#secondary-menu a { color: #708284; }

#prev-next { text-align: center; }
#prev-next a { color: #475b62; }

.output-message { width: 100%; text-align: center; }
.output-message a { color: #475b62; }

#splash header, .gallery header { -moz-box-shadow: 5px 5px 5px -5px #93a1a1, -5px 5px 5px -5px #93a1a1; -webkit-box-shadow: 5px 5px 5px -5px #93a1a1, -5px 5px 5px -5px #93a1a1; box-shadow: 5px 5px 5px -5px #93a1a1, -5px 5px 5px -5px #93a1a1; color: #93a1a1; background-color: #073642; }
#splash header a, .gallery header a { color: white; }

#splash figure, .gallery figure { -moz-box-shadow: 5px 5px 5px -5px #93a1a1, -5px 5px 5px -5px #93a1a1; -webkit-box-shadow: 5px 5px 5px -5px #93a1a1, -5px 5px 5px -5px #93a1a1; box-shadow: 5px 5px 5px -5px #93a1a1, -5px 5px 5px -5px #93a1a1; }

#comments header img { -moz-box-shadow: 5px 5px 5px -5px #93a1a1, -5px 5px 5px -5px #93a1a1; -webkit-box-shadow: 5px 5px 5px -5px #93a1a1, -5px 5px 5px -5px #93a1a1; box-shadow: 5px 5px 5px -5px #93a1a1, -5px 5px 5px -5px #93a1a1; }

/*#######################
## EXTERNAL COMPONENTS ##
#######################*/
input, textarea { width: 100%; padding: 6px; border: 1px solid #93a1a1; font-size: 1rem; line-height: 1.5em; }

input[type=checkbox] { margin-right: 5px; }

#comments { font-size: 0.825rem; line-height: 1.35em; }
#comments h2 { margin-bottom: 12px; }
@media screen and (max-width: 767px) { #comments h2 { width: 100%; margin-left: 0px; margin-right: 0px; } }
@media screen and (min-width: 768px) { #comments h2 { margin-left: 24px; margin-right: 24px; } }
@media screen and (min-width: 768px) and (max-width: 1023px) { #comments h2 { width: 720px; } }
@media screen and (min-width: 1024px) { #comments h2 { width: 976px; } }
#comments article { width: 100%; margin-bottom: 12px; min-height: 88px; border-top: 1px dotted #93a1a1; padding-top: 12px; }
#comments > article:first-of-type { border: none; }
#comments .children { padding: 0; margin: 0; }
#comments .children article { border: none; }
@media screen and (max-width: 767px) { #comments header { width: 100%; margin-left: 0px; margin-right: 0px; } }
@media screen and (min-width: 768px) { #comments header { margin-left: 24px; margin-right: 0px; } }
@media screen and (min-width: 768px) and (max-width: 1023px) { #comments header { width: 232px; } }
@media screen and (min-width: 1024px) { #comments header { width: 317.33333px; } }
@media screen and (min-width: 768px) { #comments header { position: absolute; right: 0; top: 12px; } }
#comments header img { margin-right: 24px; float: left; width: 64px; height: 64px; }
@media screen and (max-width: 767px) { #comments #respond { width: 100%; margin-left: 0px; margin-right: 0px; } }
@media screen and (min-width: 768px) { #comments #respond { margin-left: 0px; margin-right: 0px; } }
@media screen and (min-width: 768px) and (max-width: 1023px) { #comments #respond { width: 768px; } }
@media screen and (min-width: 1024px) { #comments #respond { width: 1024px; } }
#comments #respond h3, #comments #respond p { margin-bottom: 12px; }
@media screen and (max-width: 767px) { #comments #respond h3, #comments #respond p { width: 100%; margin-left: 0px; margin-right: 0px; } }
@media screen and (min-width: 768px) { #comments #respond h3, #comments #respond p { margin-left: 0px; margin-right: 0px; } }
@media screen and (min-width: 768px) and (max-width: 1023px) { #comments #respond h3, #comments #respond p { width: 512px; } }
@media screen and (min-width: 1024px) { #comments #respond h3, #comments #respond p { width: 682.66667px; } }
#comments #respond label { margin-right: 24px; }
#comments #respond .form-allowed-tags, #comments #respond .form-submit { float: left; }
@media screen and (max-width: 767px) { #comments #respond .form-allowed-tags, #comments #respond .form-submit { width: 100%; margin-left: 0px; margin-right: 0px; } }
@media screen and (min-width: 768px) { #comments #respond .form-allowed-tags, #comments #respond .form-submit { margin-left: 24px; margin-right: 0px; } }
@media screen and (min-width: 768px) and (max-width: 1023px) { #comments #respond .form-allowed-tags, #comments #respond .form-submit { width: 232px; } }
@media screen and (min-width: 1024px) { #comments #respond .form-allowed-tags, #comments #respond .form-submit { width: 317.33333px; } }
#comments #respond .comment-form-comment { float: left; }
#comments #respond .comment-form-comment label { display: none; }
#comments #respond .comment-form-comment textarea { width: 100%; }
#comments #respond #submit { background-color: #475b62; color: white; }
