@import 'reset.scss';
@import 'palettes.scss';
@import 'defaults.scss';
@import 'layout.scss';
@import 'typography.scss';

/*############################
## ABSTRACT STYLE TEMPLATES ##
############################*/

/* Paddedbox ////////////////////////////////////////////////////////////*/

@mixin paddedbox($TPadding: 1, $RPadding: 1, $BPadding: 1, $LPadding: 1) {
	padding-top: $TPadding * $VGutter;
	padding-right: $RPadding * $HGutter;
	padding-bottom: $BPadding * $VGutter;
	padding-left: $LPadding * $HGutter;
}

.PaddedLayoutElement {
	@media not screen and #{$SmallScreen} {
		@include paddedbox;
	}
	@media screen and #{$SmallScreen} {
		@include paddedbox(1,1/2,1,1/2);
	}
}

.PreParSkip {
	margin-top: $PSkip;
}

.NoPreParSkip {
	margin-top: 0;
}

/* Shadows ///////////////////////////////////////////////////////////*/

.Shadows {
	-moz-box-shadow:	2px 2px 2px -2px $MidLight, -2px 2px 2px -2px $MidLight;
	-webkit-box-shadow:	2px 2px 2px -2px $MidLight,	-2px 2px 2px -2px $MidLight;
	box-shadow:			2px 2px 2px -2px $MidLight,	-2px 2px 2px -2px $MidLight;
}

.NoShadows {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/*############################
## BASIC COLOURS AND STYLES ##
############################*/

body {
	font-family: "Source Sans Pro", sans-serif;
}

header, h1, h2, h3, h4, th, dt, nav { 
	font-family: "Roboto Slab", serif;
}

a 		{ 	color: $AltForeground; }
button 	{ 	background-color: $HeaderBackground; 
			color: $HeaderForeground;
}

blockquote, caption, code, pre, samp, time { 
	color: $AltForeground; 
}

a { 
	text-decoration: none; 
	&:hover {
		text-decoration: underline;
	}
}

/*#################
## BASIC SPACING ##
#################*/

h2:not(:first-child), h3:not(:first-child), h4:not(:first-child), h5:not(:first-child), h6:not(:first-child), p:not(:first-child), dl:not(:first-child), ul:not(:first-child), ol:not(:first-child), blockquote:not(:first-child) {
	@extend .PreParSkip;
}

dt { margin-top: 0.5em; }

ul, ol, dd {
	padding-left: $HGutter; 
}

time {
	display:block;
}

blockquote {
	padding-left: $HGutter;
	padding-right: $HGutter; 
}

button {
	@include paddedbox;
	-moz-border-radius: $VGutter;
	border-radius: $VGutter;
}

footer address {
	margin-top:0;
}

/*####################################
## STYLES FOR BASIC LAYOUT ELEMENTS ##
####################################*/

html {
	background-image: url('../img/bg/pw_maze_white.png');
	background-size: 46px auto;
	@media screen and #{$RetinaScreen} {
		background: url('../img/bg/pw_maze_white_@2X.png');
	}
}

body {
	color: $Foreground;
}

body > header {
	padding: 0.5rem;
}

body > header, body > footer	{ 
	text-align:center;
	color: $HeaderForeground; 	  	
	background-color: $HeaderBackground; 
	a { color: $HeaderForeground; }
}

#top-menus ul {
	@extend .NoSkipBefore;
}

#splash {
	header { 
		@extend .PaddedLayoutElement; 
		h2 { text-align: center; }
		.categories {
			text-align: center;
			@include footnotetype;
			a { color:$MidLight; }
		}
	}
	figure {
		z-index: 1;
	}
	color: $MidLight;
	background-color: $Dark;
	a { color: $HeaderForeground; }
}

body > section, body > article {
	@extend .Shadows;
}

.featured-image-banner {

}

.column {
	@extend .PaddedLayoutElement;
	background-color: $Background;
}

.margin {
	@extend .PaddedLayoutElement;
	background-color: $AltBackground;
}

body > footer {
	@extend .PaddedLayoutElement;
	color: $AltForeground;
}

/*##########################
## ADVANCED LAYOUT STYLES ##
##########################*/

@import 'navigation.scss';
@import 'comments.scss';
@import 'sidematter.scss';
@import 'forms.scss';
@import 'postformats.scss';

.subsection {
	position:static;
	&:not(:first-child) { @extend .SkipBefore; }
}

.output-message {
	width:100%;
	text-align:center;
	a { color: $Foreground; }
}

.container { // for external plugins to use
	@extend .PaddedLayoutElement;
	@extend .Shadows;
	background-color: $Background;
}