@import 'reset.scss';
@import 'palettes.scss';
@import 'defaults.scss';
@import 'grid-mixins.scss';
@import 'typography.scss';

/*###############################
## THEME CUSTOMIZABLE DEFAULTS ##
###############################*/

body {
	font-family: source-sans-pro, "Source Sans Pro", sans-serif;
}

header, h1, h2, h3, h4, th, dt, nav { 
	font-family: adelle, "Adelle Basic", Palatino, serif;
}

a { color: $AltForeground; }
button { background-color: $HeaderBackground; }

/*###################
## BASIC STRUCTURE ##
###################*/

body {
	width: 100%;
}

body > header, body > footer {
	width: 100%;
	text-align:center;
}

body > header h1 {
	@include paddedbox;
}

body > footer {
	@include paddedbox(1,1,1,1);
	margin-bottom: 0;
}

body > section, body > article {
	width: $SmallGrid;
	margin: 0 auto;

	@media screen and #{$MediumScreen} { width: $MediumGrid; }
	@media screen and #{$LargeScreen} {	width: $LargeGrid; }
}

body > section, body > article, body > nav {
	@include pskip(2);
}

body > nav {
	@media screen and #{$SmallScreen} {
		margin-bottom: 0;
	}	
}

#splash figure {
	@include maincontent;
	float:left;
	line-height: 0;
	img {
		width: 100%;
		height: auto;
	}
}

#splash header {
	@include sidecontent;
	@include paddedbox;
	clear:none;
	float:left;
	margin-bottom: 0;
	@media screen and #{$ColumnatedScreen} {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
	}
}

.column {
	padding: 2*$VGutter $HGutter;
	@include maincontent;
	margin-bottom:0;
	float:left;
}

article header, section header {
	time {
		display:block;
		margin-bottom: 0;
		@include antiskip;
	}
	@include pskip;
}


/*######################
## ADVANCED STRUCTURE ##
######################*/

.margin {
	@include sidecontent;
	clear:none;
	float:left;
	@media screen and #{$SmallScreen} {
		display: none;
	}
}

.margin.has-sidenotes {
	@media screen and #{$SmallScreen} {
		display: block;
		@include paddedbox;
	}
}

.subsection {
	position:static;

	&:not(:last-child) {
		@include pskip(2);
	}
}


/*###################
## BASIC ELEMENTS ##
###################*/

nav {
	text-align: center;
}

nav	a { 
	display: table-cell;
	float: left;
	margin-right: 0.5 * $VGutter;
	white-space: nowrap;
	ul { margin: none; }
}

h2, h3, h4, h5, h6, p:not(:last-child), dl:not(:last-child), ul:not(:last-child), ol:not(:last-child), blockquote:not(:last-child) {
	@include pskip;
}

dt { margin-top: 0.5* $HGutter; }

ul, ol, dd {
	padding-left: $HGutter; 
}

blockquote {
	padding-left: $HGutter;
	padding-right: $HGutter; 
}

figure {
	@media screen and #{$SmallScreen} {
		text-align: center;
		figcaption { text-align: left; }
	}
}

button {
	@include paddedbox;
	-moz-border-radius: $VGutter;
	border-radius: $VGutter;
}

footer address {
	margin-top:0;
}

/*########################
## EXCEPTIONAL ELEMENTS ##
########################*/

#top-menus ul { /* remove pskip */
	margin-bottom:0;
}

.menu {
	padding-left: 0;
	margin-bottom: 0;
	
	> li {
		@media screen and #{$SmallScreen} {
			width: 50%;
		}
		display: inline-block;
		position: relative;
	}
	
	.sub-menu {
		position:absolute;
		left: 0;
		top: 100%;
		padding-left: 0;
		display: none;
		z-index: 1;
	}

	li:hover .sub-menu {
		display: block;
		list-style: none;
	}
}

nav a {  
	@include paddedbox(0.5,1,0.5,1);
	text-align: left;
	margin-right: 0;
	z-index: 2;
}

#prev-next {
	@include commenttype;
	text-align: center;
}

#splash header {
	h2 {
		text-align: center;
	}
	.infobox {
		width: 100%;
		tr { width: 100%; }
		th, td { width: 33%; }

		@include pskip;
	}

	.infobox-key {
		text-align: center;
		@include commenttype;
	}

	.infobox-value {
		text-align: center;
		@include headlinetype;
		@include setfontsize(3);
	}

	.categories {
		text-align: center;
		@include footnotetype;
		a { color:$AltForeground; }
	}
}

.cite, .sidenote, time {
	@include footnotetype;
	@include pskip(0.25);
}

.margin figure {
	line-height: 0;
	@include pskip;

	@media screen and #{$SmallScreen} {
		display: none;
	}

	img { 
		width: 100%;
		height: auto;
		margin: 0; 
	}
	figcaption {
		@include paddedbox;
	}
}

.sidefig-placeholder {
	@media screen and #{$ColumnatedScreen} {
		width: 0;
		height: 0;
		margin: 0;
		clear:none;
		* { display: none; }
	}
}

.footnote-snapback {
	@media screen and #{$ColumnatedScreen} {
		display: none;
	}
}

address, .author {
	h3 { 
		@include setfontsize(0);
		@include pskip(0.5);
	}
	p  { 
		@include footnotetype;
		color: $AltForeground;
	}
	margin-top: 2*$VGutter;
	img {
		height: auto;
		width: auto;
		float: left;
	}
}

.short h2 { margin-bottom:0; }

/*###############
## MAIN STYLES ##
###############*/

/* shadows /////////////////////////////////////////////////////////////
// Adds small drop shadows around element
//////////////////////////////////////////////////////////////////////////*/

@mixin shadows {
	-moz-box-shadow:
        5px 5px 5px -5px $MidLight,
        -5px 5px 5px -5px $MidLight;
    -webkit-box-shadow:
        5px 5px 5px -5px $MidLight,
        -5px 5px 5px -5px $MidLight;
    box-shadow:
        5px 5px 5px -5px $MidLight,
        -5px 5px 5px -5px $MidLight;
}

html {
	background-image: url('../img/bg/pw_maze_white.png');
	background-size: 46px auto;
	@media screen and #{$RetinaScreen} {
		background: url('../img/bg/pw_maze_white_@2X.png');
	}
}

body {
	color: $Foreground;
}

body > header, body > footer	{ 
	color: $HeaderForeground; 	  	
	background-color: $HeaderBackground; 
	a { color: $HeaderForeground; }
}

body > footer {
	color: $AltForeground;
	#search label {
		display: none;
	}
}

.column { 
	background-color: $Background;
	border: 1px solid $AltBackground;
	@include shadows;
}

.margin.has-sidenotes {
	@media screen and #{$SmallScreen} {
		background-color: $AltBackground;
		@include shadows;
	}
}

.margin figure {
	@include shadows;
	background-color: $Background;
}

a { 
	text-decoration: none; 
	&:hover {
		text-decoration: underline;
	}
}

blockquote, caption, code, pre, samp, time { 
	color: $AltForeground; 
}

button {
	color: $HeaderForeground;
}

.strong { color: $MidLight; }

.regular { color: $Mid; }

.weak { color: $MidDark; }

/*######################
## EXCEPTIONAL STYLES ##
######################*/

#top-menus {
	@include shadows;
}

.menu li:hover .sub-menu {
	border: 1px solid $AltBackground;
	background-color: $Background;
	@include shadows;
}

#primary-menu {
	background-color: $Dark; 
	a { color: $HeaderForeground; }
	.sub-menu a { color: $AltForeground; } 
}

#secondary-menu {
	background-color: $Background; 
	a { color: $AltForeground; }
}

#prev-next {
	text-align: center;
	a { color: $Foreground; }
}

.output-message {
	width:100%;
	text-align:center;
	a { color: $Foreground; }
}

#splash header {
	@include shadows;
	color: $MidLight;
	background-color: $Dark;
	a { color: $HeaderForeground; }
}

#splash figure {
	@include shadows;
}

#comments header img {
	@include shadows;
}

/*#######################
## EXTERNAL COMPONENTS ##
#######################*/

@import 'postformats.scss';
@import 'comments.scss';