@import 'reset.scss';
@import 'grid-mixins.scss';
@import 'typography-mixins.scss';
@import 'palettes.scss';

/* template colours ////////////////////////////////////////////////////////
// Based on the Solarized pallette: http://ethanschoonover.com/solarized
//////////////////////////////////////////////////////////////////////////*/

$Foreground: $Dark;				/* default text colour */
$Background: $White;			/* default background */

$HeaderForeground: $White;		/* default header colour */
$HeaderBackground: $Dark;		/* default header background */

$AltForeground: $Grey;			/* secondary text colour */
$AltBackground: $Light;			/* caption and sidenote background */

/*###############################
## THEME CUSTOMIZABLE DEFAULTS ##
###############################*/

body {
	font-family: source-sans-pro, "Source Sans Pro", sans-serif;
}

header, h1, h2, h3, h4, th, dt, nav { 
	font-family: adelle, Palatino, serif;
}

a { color: $Red; }
button { background-color: $Red; }

/*##############
## TYPOGRAPHY ##
##############*/

body { 
	@include texttype;
}

header, h1, h2, h3, h4, th, dt, nav { 
	@include headlinetype;
}

.side-matter, time {
	@include footnotetype;
}

dt,dd	{ line-height: 0.95 * $DefaultLineHeight; }

h1		{ @include setfontsize(1); }
h2		{ @include setfontsize(1); }
h3		{ @include setfontsize(1); }
h4, dt	{ @include setfontsize(0); }

infobox {
	h2 	{ @include setfontsize(1); 	@include pskip(0.5); }
	h3 	{ @include setfontsize(0); 	@include pskip(0.5); }
}

strong, b	{ font-weight: bold; }
em, i		{ font-style: italic; }

a 		{ text-decoration: none; }
a:hover	{ text-decoration: underline; }

sup, sub { 
	@include setfontsize(-1); 
	vertical-align: baseline; 
	position: relative;
}
sup	{ top: -0.4em; }
sub	{ top:  0.4em; }

p, blockquote, dt, dd, li {
	@media screen and #{$ColumnatedScreen} {
		text-align: justify;
		text-justify: distribute;
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
    	hyphens: auto;
    }
}

/*###########
## SPACING ##
###########*/

section, article, figure { 
	@include pskip;  
}

nav	a { 
	display: table-cell;
	float: left;
	margin-right: 0.5 * $VGutter;
	white-space: nowrap;
	ul { margin: none; }
}

h2, h3, h4, h5, h6, p, dl, ul, ol, blockquote {
	@include pskip;
}

dt { margin-top: 0.5* $HGutter; }

/*##################
## PAGE STRUCTURE ##
##################*/

body {
	text-rendering: optimizeLegibility;
}

body > header, body > footer {
	width: 100%;
}

body > section, body > article {
	@include toplevelgutters;
}

ul, ol, dd { 
	/* lists get padding instead of margins so to avoid recalculating width */
	padding-left: $HGutter; 
}

blockquote {
	padding-left: $HGutter;
	padding-right: $HGutter; 
}

figure {
	img { max-width: 100%; }
	figcaption { line-height: 0.8 * $DefaultLineHeight; }
	@media screen and #{$SmallScreen} {
		text-align: center;
		figcaption { text-align: left; }
	}
}

.column {
	@include maincontent;
	float: left;
}

.margin {
	@include sidecontent;
	clear: none;
	float:left;
}

.subsection {
	position: static;
}

.guttered, #bbpress-forums {
	margin-left: $HGutter;
	margin-right: $HGutter;
	@media screen and #{$HugeScreen} {
		margin-left: 2 * $HGutter;
		margin-right: 2 * $HGutter;
	}
}

/*###############
## MAIN STYLES ##
###############*/

html {
	background-image: url('../img/bg/pw_maze_white.png');
	background-size: 46px auto;
	@media screen and #{$RetinaScreen} {
		background: url('../img/bg/pw_maze_white_@2X.png');
	}
}

body { 
	color: $Foreground;
	background-color: $Background; 

	-moz-box-shadow:
        5px 0 5px -5px $Grey,
        -5px 0 5px -5px $Grey;
    -webkit-box-shadow:
        5px 0 5px -5px $Grey,
        -5px 0 5px -5px $Grey;
    box-shadow:
        5px 0 5px -5px $Grey,
        -5px 0 5px -5px $Grey;
}


body > header, body > footer	{ 
	color: $HeaderForeground; 	  	
	background-color: $HeaderBackground; 
	a { color: $HeaderForeground; }
}

blockquote, caption, code, pre, samp { 
	color: $AltForeground; 
}

time {
	color: $AltForeground;
}

button {
	color: $HeaderForeground;
	@include paddedbox;
	-moz-border-radius: $VGutter;
	border-radius: $VGutter;
}

/*###########
## COLOURS ##
###########*/

figure figcaption	{ 
	@include paddedbox(1,0.5,1,0.5);
	background-color: $AltBackground;
}

section .column {
	@media screen and #{$SmallScreen} {
		@include pskip(0.5);
	}
}

/*###################
## NAVIGATION MENU ##
###################*/

#top-menus {
	@include pskip(2);
}
.menu {
	padding-left: 0;
	margin-bottom: 0;
	
	> li {
		@media screen and #{$SmallScreen} {
			width: 50%;
		}
		display: inline-block;
		position: relative;
	}
	
	.sub-menu {
		position:absolute;
		left: 0;
		top: 100%;
		padding-left: 0;
		display: none;
		z-index: 1;
	}

	li:hover .sub-menu {
		display: block;
		border: 1px solid $AltBackground;
		list-style: none;
		background-color: $Background;
		-moz-box-shadow: 5px 5px 5px -5px $Grey;
    	-webkit-box-shadow: 5px 5px 5px -5px $Grey;
   		box-shadow: 5px 5px 5px -5px $Grey;
	}
}

nav a {  
	@include paddedbox(0.5,1,0.5,1);
	text-align: left;
	margin-right: 0;
	z-index: 2;
}

#primary-menu {
	background-color: $Dark; 
	a { color: $HeaderForeground; }
	.sub-menu a { color: $AltForeground; } 
}

#secondary-menu {
	border-bottom: 1px dotted $AltForeground;
	a { color: $AltForeground; }
}


/*################
## POST FORMATS ##
################*/

.link-post {
	margin-left: $HGutter;
	margin-right: $HGutter;
	@include paddedbox(1,1,1,1,1);
	@include pskip(3);
	background: $AltBackground no-repeat right top;

	-moz-border-radius: 1em;
	border-radius: 0.5em;

	.column {
		@include sethorizontal(4/5, 0, 0, 0, 0, -4*$HGutter);
	}

	.thumbnail {
		position: absolute;
		top: 0;
		right: 0;
		@include sethorizontal(1/5, 0, 0);
		height: 100%;

		background: $Foreground url('../img/link.png') no-repeat center center;

		-moz-border-radius-topright: 0.5em;
		-moz-border-radius-bottomleft: 0.5em;
		border-top-right-radius: 0.5em;
		border-bottom-right-radius: 0.5em;

		@media screen and #{$SmallScreen} { display: none; }
	}
}

/*/////////////////////
// HEADER AND FOOTER //
/////////////////////*/

body > header {
	background-color: $HeaderBackground;
	h1 {
		@include paddedbox;
	}
}

body > footer {
	@include paddedbox(1,1,1,1);
	@include footnotetype;
	width:100%;
	margin-bottom: 0;

	/* Styling */
	color: $AltForeground;
	a 	{ color: $Background; }
	p 	{ @include pskip(0.25); }
	#search label {
		display: none;
	}
}

#prev-next {
	@include texttype;
	background-color: $Background;
	a { color: $Foreground; }
	border-top: 1px dotted $AltForeground;
	ul { padding-left: 0; }
	li { display: inline-block; margin-right: $HGutter; @include pskip(0.5); }
	.prev { float: left; }
	.next { float: right; }
}

/*////////////////////
// DISPLAYING POSTS //
////////////////////*/

body > article {
	@include pskip(2);
}
body > article:last-of-type {
	border: none;
}

figure figcaption {
	clear:both;
}

article header, section header {
	h2 { 
		@include setfontsize(1); 
		float:left;
		@include pskip(0);
	}
	time {
		display:block;
		clear: left;
		margin-bottom: 0;
	}
	@include pskip;
}

img { 
	max-width: 100%; 
	height: auto;
	margin-right: $HGutter;
}

address, .author {
	h3 { 
		@include setfontsize(0);
		@include pskip(0.5);
	}
	p  { 
		@include footnotetype;
		color: $AltForeground;
	}
	margin-top: 2*$VGutter;
	img {
		height: auto;
		width: auto;
		float: left;
	}
}

footer address {
	margin-top:0;
}

.sidefig {
	@media screen and #{$SmallScreen} {
		display: none;
	}
}

aside:last-of-type {
	@include pskip;
}

.sidefig-placeholder {
	@media screen and #{$ColumnatedScreen} {
		width: 0;
		height: 0;
		margin: 0;
		clear:none;
		* { display: none; }
	}
}

.infobox {
	@include headlinetype;
	background-color: $AltBackground;
	-moz-box-shadow: 5px 5px 5px -5px $Grey;
    -webkit-box-shadow: 5px 5px 5px -5px $Grey;
   	box-shadow: 5px 5px 5px -5px $Grey;
    @include paddedbox(0.5,0.5,0.5,0.5);
    @include pskip;
}

.footnote-snapback {
	@media screen and #{$ColumnatedScreen} {
		display: none;
	}
}

/*############
## COMMENTS ##
############*/

input, textarea {
	width: 100%;
	padding: 0.5 * $VGutter;
	border: 1px solid $Grey;
	@include texttype;
}

input[type=checkbox] {
	margin-right: 5px;
}

#comments {
	width: 100%;
	margin-top: 3*$VGutter;
	@include commenttype;
	h2 { 
		@include fullcontent;
		margin-bottom: $VGutter; 
	}

	article {
		width:100%;
		@extend .medskip;
		min-height: 64px + 2*$VGutter;
		border-top: 1px dotted $Grey;
		padding-top: $VGutter;
	}

	> article:first-of-type {
		border: none;
	}

	.children { 
		padding: 0; 
		margin-left: 0;
	}

	header {
		@include sidecontent;
		h4 { @include pskip(0.25); }
		time { clear: none; }

		@media screen and (min-width: $MediumGrid)	{ 
			position:absolute;
			right: 0;
			top: $VGutter;
		}

		img {
			margin-right: $HGutter;
			float: left;
			width: 64px;
			height: 64px;
		}
	}
	
	#respond {
		@include sethorizontal(1.00, 0, 0);

		h3, p { 
			@include maincontent;
			@include pskip;
		}
		
		label {
			margin-right: $HGutter;
		}

		.form-allowed-tags, .form-submit { 
			@include sidecontent;
			float: left;
		}

		.comment-form-comment {
			float: left;

			label { display: none; }
			textarea {
				width: 100%;
			}
		}

		#submit {
			background-color: $Foreground;
			color: $Background;
		}
	}
}