/*  Colour palettes ===========================================================
	Based on the Solarized pallette: http://ethanschoonover.com/solarized
=============================================================================*/

$Red: #DC322F;
$Orange: #CB4B16;
$Yellow: #B58900;
$Green: #859900;
$Cyan: #2AA198;
$Blue: #268BD2;
$Violet: #6C71C4;
$Magenta: #D33682;			

$Darkest: #042029;
$Darker: #0A2933;
$Dark: #475B62;
$Darkish: #536870;
$Lightish: #708284;
$Light: #819090;
$Lighter: #EAE3CB;
$Lightest: #FCF4DC;

$SiteTitleForeground: #FFF;
$SiteTitleBackground: $Blue;
$SiteNavForeground: #FFF;
$SiteNavBackground: $Darker;

$PostHeaderBackground: $Lighter;
$PostTitleForeground: $Darkish;
$PostMetaForeground: $Light;

$AsideTitleForeground: $Lightish;
$AsideHeaderBackground: $Lightest;
$ImageTitleForeground: $Green;
$ImageHeaderBackground: #E4E3C7;
$LinkTitleForeground: $Darkish;
$LinkHeaderBackground: #D5DBE0;

$BodyForeground: $Dark;
$PostContentBackground: #FFF;

$PostSubheadUnderline: $Lighter;
$LinkForeground: $Blue;
$QuoteForeground: $Light;
$CaptionForeground: $Light;
$CaptionBackground: $Lighter;
$THeadForeground: $Darkish;
$THeadBackground: $Lighter;

$CommentHeaderForeground: $Lightish;
$CommentHeaderBackground: $Lighter;
$CommentContentBackground: #FFF;

$InputBorderColour: $Lighter;
$ActiveInputBorderColour: $Lightish;
$CommentSubmitForeground:#FFF;
$CommentSubmitBackground:$Blue;

$FootnoteForeground: $Light;

$SitePaginationForeground: #FFF;
$SitePaginationBackground: $Light;

$ColophonBackground: $Darker;
$ColophonForeground: $Light;
$ColophonLink: #FFF;