/*  Colour palettes ===========================================================
	Based on the Solarized pallette: http://ethanschoonover.com/solarized
=============================================================================*/

$Red: #DC322F;
$Orange: #CB4B16;
$Yellow: #B58900;
$Green: #859900;
$Cyan: #2AA198;
$Blue: #268BD2;
$Violet: #6C71C4;
$Magenta: #D33682;			

$Darkest: #042029;
$Darker: #0A2933;
$Dark: #475B62;
$Darkish: #536870;
$Lightish: #708284;
$Light: #819090;
$Lighter: #CED4D4;
$Lightest: #E4E6E6;

$PrimaryColour: $Darker;
$ReverseColour: #FFF;
$DefaultTextColour: $Darker;
$SecondaryTextColour: $Light;
$DefaultLinkColour: $Blue;

$SiteTitleForeground: $PrimaryColour;
$SiteNavBackground: $PrimaryColour;
$ColophonBackground: $PrimaryColour;
$SitePaginationForeground: $PrimaryColour;
$CommentHeaderBackground: $PrimaryColour;

$SiteNavForeground: $ReverseColour;
$ColophonForeground: $ReverseColour;
$ColophonLink: $ReverseColour;
$CommentHeaderForeground: $ReverseColour;


$PostTitleForeground: $Darker;
$PostMetaForeground: $Light;

$AsideBackground: $Lighter;
$AsideIconForeground: $Darker;
$AsideIconBorder: $Darker;
$ImagePostForeground: #FFF;
$ImagePostBackground: $Darker;
$LinkIconForeground: $Lighter;
$LinkIconBorder: $Lighter;
$LinkPostBackground: $Lightest;

$BodyForeground: $Darker;
$PostContentBackground: #FFF;

$PostSubheadUnderline: $Lighter;
$LinkForeground: $Blue;
$QuoteForeground: $Light;
$CaptionForeground: $Light;
$CaptionBackground: $Lighter;
$THeadForeground: $Darkish;
$THeadBackground: $Lighter;

$InputBorderColour: $Lighter;
$ActiveInputBorderColour: $Lightish;
$CommentSubmitForeground:#FFF;
$CommentSubmitBackground:$DefaultTextColour;

$FootnoteForeground: $Light;



