@import 'palettes.scss';
@import 'type.scss';

.post.format-aside {
	padding: 0;

	.post-content {
		margin-left: 40px;
		padding: 20px 40px 20px 20px;
		background-color: $AsideBackground;

		&:before{
			@extend .genericons;
			content: '\f425';
			position:absolute;
			top: 0;
			left: -43px;
			height:40px;
			font-size:40px;
			color: $AsideIconForeground;
		}
		border-left: 3px solid $AsideIconBorder;
	}

	.edit-link {
		float: right;
		font-size: $PostMetaFontSize;
	}
}


.post.format-image {
	padding: 0;
	background-color: $ImagePostBackground;
	color: $ImagePostForeground;

	.post-content {
		margin-left: 40px;
		padding: 20px 40px 20px 20px;

		&:before{
			@extend .genericons;
			content: '\f102';
			position:absolute;
			top: 50%;
			margin-top: -20px;
			left: -30px;
			height:40px;
			font-size:36px;
			color: $ImagePostForeground;
		}
	}

	.edit-link {
		float: right;
		font-size: $PostMetaFontSize;
		a { 
			color: $ImagePostForeground;
		}
	}
}

.post.format-link {
	padding: 0;

	.post-content {
		margin-right: 40px;
		padding: 20px 20px 20px 40px;
		background-color: $Lightest;
		border-right: 3px solid $LinkIconBorder;
	}

	.post-link {
		&:after{
			@extend .genericons;
			content: '\f442';
			position:absolute;
			top: 0;
			height:40px;
			font-size:40px;
			color: $LinkIconForeground;
		}
		position:absolute;
		top: 0;
		right:0;
		height:40px;
		width: 40px;
	}
}