@import 'palettes.scss';
@import 'type.scss';

.format-aside .post-title:before, .format-link .post-title:before, .format-image .post-title:before, {
	position: relative;
	top: -2px;
	margin-right: 5px;
	font-size: $PostTitleFontSize;
}

.format-aside .post-header {
	background-color: $AsideHeaderBackground;
}
.format-aside .post-title {
	color: $AsideTitleForeground;
}
.format-aside .post-title:before {
	content: '\f425';
}

.format-image .post-header {
	background-color: $ImageHeaderBackground;
}
.format-image .post-title {
	color: $ImageTitleForeground;
}
.format-image .post-title:before {
	content: '\f102';
}

.format-link .post-header {
	background-color: $LinkHeaderBackground;
}

.format-link .post-title {
	color: $LinkTitleForeground;
}
.format-link .post-title a {
	color: $LinkTitleForeground;
}
.format-link .post-title:before {
	content: '\f107';
}