@import 'reset.scss';
@import 'icomoon.scss';
@import 'colour-default.scss';

$Typeface-Headline: "Avenir Next", Avenir, Trebuchet, sans-serif;
$Typeface-Body: "Avenir Next", Avenir, Trebuchet, sans-serif;

$Fontsize-Huge: 30px;
$Fontsize-Large: 24px;
$Fontsize-Default: 16px;
$Fontsize-Small: 14px;
$Fontsize-Tiny: 12px;


//  Default text --------------------------------------------------------------

body {
    font-size: $Fontsize-Default;
    font-family: $Typeface-Body;
    text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: $Typeface-Headline;
    line-height: 1.2;
}

h1 { font-size: $Fontsize-Huge; }
h2 { font-size: $Fontsize-Large; }

p {
    margin-bottom: 10px;
    line-height: 1.4;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul, ol, dl {
    margin-bottom: 10px;
    line-height: 1.4;
}

li, dt, dd {
    margin-bottom: 5px;
}

ul, ol, dd {
    margin-left: 20px;
}

strong, b {
    font-weight: bold; 
}
em, i { 
    font-style: italic;
}

sup, sub { 
    position: relative; 
    vertical-align: baseline; 
    font-size: $Fontsize-Small;
}
sup { top: -0.4em; }
sub { top:  0.4em; }

blockquote {
    padding-left: 20px;
}


//  Default block elements ----------------------------------------------------

main {
    margin: 0 auto 20px auto;
    padding: 0 20px;
    max-width: 40em;
}

main footer {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid;
    font-size: $Fontsize-Small;
}


article:not(:last-child) {
    margin-bottom: 20px;
}


//  Images --------------------------------------------------------------------

img {
    max-width: 100%;
    height: auto;
}

.aligncenter {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

@media screen and (max-width: 567px) {
    img, .alignleft, .alignright {
        display: block;
        margin-bottom: 10px;
        margin-left: -20px;
        max-width: calc(100% + 40px);
        width: calc(100% + 40px);
    }
}

@media screen and (min-width: 568px) {
    .alignleft {
        float: left;
        margin-right: 20px;
        margin-bottom: 10px;
        max-width: 50%;
    }

    .alignright {
        float:right;
        margin-bottom: 10px;
        margin-left: 20px;
        max-width: 50%;
    }
}


//  Site header ---------------------------------------------------------------

#site-header {
    margin-bottom: 20px;
    text-align: center;
    img {
        margin-top: 15px;
        width: 50px;
        height: 50px;
        border-radius: 5px;
    }
    h1 {
        margin-top: 10px;
        margin-bottom: 15px; 
    }
}

#site-navigation {
    padding: 0;
    border-top: 3px solid;
    ul, li { 
        margin: 0;
        padding: 0;
    }
    li {
        display: inline-block;
    }
    a {
        display: inline-block;
        padding: 10px 20px;
    }
}

@media screen and (max-width: 567px) {
    #site-header {
        text-align: left;
        img {
            display: none;
        }
        h1 {
            margin: 0;
        
            a {
                float: left;
                padding: 15px 20px;
                width: calc(100% - 70px);
            }
        }
    }
    .nav-toggle {
        display: inline-block;
        padding: 15px 0;
        width: 70px;
        height: 66px;
        border-left: 1px solid;
        text-align: center;
        font-size: $Fontsize-Huge;
    }
    #site-navigation {
        li, a {
            display: block;
            width: 100%;
        }
        li:not(:last-child) {
            border-bottom: 1px solid;
        }
    }
}


// Post Formats ---------------------------------------------------------------

.external-link:after {
    margin-left: 20px;
    width: 40px;
    content: "\e609";
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-size: $Fontsize-Default;
    font-family: 'icomoon';
    line-height: 1;
    speak: none;
}

.format-image figcaption {
    padding: 10px;
    text-align: center;
}


// Subsections ----------------------------------------------------------------

article, main {
    counter-reset: subsection;
}

h2 {
    margin-left: 50px;
}

h2:before {
    position: absolute;
    left: 0;
    width: 30px;
    border-radius: 5px;
    content: counter(subsection);
    counter-increment: subsection;
    text-align: center;
}

main > h2:before {
    left: 20px;
}


// Post footnotes -------------------------------------------------------------

.footnoteref {
    top: 0;
    margin: 0 5px;
}

.footnoteref, .footnotes li:before {
    display: inline-block;
    padding: 1px 3px;
    min-width: 19px;
    border-radius: 7px;
    text-align: center;
}


.footnotes ol {
    margin-left: 40px; /* Remove the default left margin */
    list-style: none;
    counter-reset: li;
}

.footnotes li {
    position: relative;
    list-style: none;
}

.footnotes li:before {
    position: absolute;
    left: -41px;
    content: counter(li);
    counter-increment: li;
}


// Post Meta ------------------------------------------------------------------

.post-meta ul {
    margin-left: 0;
    list-style: none;
    li {
        margin-right: 20px;
        margin-bottom: 10px;
        vertical-align: top;
        @media screen and (min-width: 568px) { 
            display: inline-block;
            width: calc( 50% - 0.5em - 20px);
        }
    }

    li:before {
        margin-right: 10px;
        width: 40px;
        text-transform: none;
        font-weight: normal;
        font-style: normal;
        font-variant: normal;
        font-family: 'icomoon';
        line-height: 1;
        speak: none;    
    }

    .author:before {
        content: "\e615";
    }
    .posted:before {
        content: "\e60e";
    }
    .updated:before {
        content: "\e61a";
    }
    .categories:before {
        content: "\e60c";
    }
    .tags:before {
        content: "\e616";
    }
    .credits:before {
        content: "\e619";
    }
    .photo-credits:before {
        content: "\e612";
    }
}


// Site Footer ----------------------------------------------------------------

.site-pagination {
    margin-bottom: 30px;
    text-align: center;
}

.site-pagination .current {
    display: inline-block;
    padding: 3px;
    border-radius: 3px;
    min-width: 19px;
}

.page-numbers {
    padding: 10px;
}

#site-footer {
    margin-bottom: 50px;
    text-align: center;
}


// Features -------------------------------------------------------------------

@import 'responsive-nav.scss';