html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  position: relative;
  min-height: 100%; }

body {
  line-height: 1; }

header, main, footer, article, section, aside, details, figure, figcaption, nav, section, div {
  display: block;
  position: relative; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* The micro clearfix http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, body:before, section:before, article:before, aside:before, figure:before, header:before, footer:before, div:before, nav:before, .clearfix:after, body:after, section:after, article:after, aside:after, figure:after, header:after, footer:after, div:after, nav:after {
  content: '';
  display: table; }
.clearfix:after, body:after, section:after, article:after, aside:after, figure:after, header:after, footer:after, div:after, nav:after {
  clear: both; }

body {
  font-family: "Avenir Next", Avenir, Trebuchet, sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility; }

h1, h2, h3, h4, h5 {
  font-family: "Avenir Next", Avenir, Trebuchet, sans-serif;
  line-height: 1.2;
  margin-top: 10px;
  margin-bottom: 10px; }

h1 {
  font-size: 30px; }

h2 {
  font-size: 24px; }

p {
  line-height: 1.4;
  margin-bottom: 10px; }

a {
  text-decoration: none; }

ul, ol {
  margin-left: 20px; }

strong, b {
  font-weight: bold; }

em, i {
  font-style: italic; }

sup, sub {
  position: relative;
  vertical-align: baseline;
  font-size: 14px; }

sup {
  top: -0.4em; }

sub {
  top: 0.4em; }

main {
  padding: 0 20px;
  max-width: 40em;
  margin: 0 auto; }

article {
  margin-bottom: 20px; }

img {
  max-width: 100%;
  height: auto; }

.aligncenter {
  display: block;
  margin-bottom: 10px;
  width: 100%; }

@media screen and (max-width: 479px) {
  img, .alignleft, .alignright {
    display: block;
    margin-bottom: 10px;
    margin-left: -20px;
    max-width: calc(100% + 40px);
    width: calc(100% + 40px); } }
@media screen and (min-width: 480px) {
  .alignleft {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    max-width: 50%; }

  .alignright {
    float: right;
    margin-bottom: 10px;
    margin-left: 20px;
    max-width: 50%; } }
#site-header {
  text-align: center;
  margin-bottom: 20px; }
  #site-header img {
    height: 50px;
    width: 50px;
    border-radius: 5px;
    margin-top: 15px; }
  #site-header h1 {
    margin-bottom: 15px; }

#site-navigation {
  border-top: 3px solid;
  background-color: white;
  padding: 0; }
  #site-navigation ul, #site-navigation li {
    margin: 0;
    padding: 0; }
  #site-navigation li {
    display: inline-block; }
  #site-navigation a {
    display: inline-block;
    padding: 10px 20px; }

@media screen and (max-width: 479px) {
  #site-header {
    text-align: left; }
    #site-header img {
      display: none; }
    #site-header h1 {
      margin: 0; }
      #site-header h1 a {
        padding: 15px 20px;
        width: calc(100% - 70px);
        float: left; }

  .nav-toggle {
    display: inline-block;
    padding: 15px 0;
    width: 70px;
    height: 66px; }

  #site-navigation li, #site-navigation a {
    display: block;
    width: 100%; }
  #site-navigation li:not(:last-child) {
    border-bottom: 1px solid; } }
