@import url(icomoon.css);
html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  position: relative;
  min-height: 100%; }

body {
  line-height: 1; }

header, main, footer, article, section, aside, details, figure, figcaption, nav, section, div {
  display: block;
  position: relative; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* The micro clearfix http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, body:before, section:before, article:before, aside:before, figure:before, header:before, footer:before, div:before, nav:before, .clearfix:after, body:after, section:after, article:after, aside:after, figure:after, header:after, footer:after, div:after, nav:after {
  content: '';
  display: table; }
.clearfix:after, body:after, section:after, article:after, aside:after, figure:after, header:after, footer:after, div:after, nav:after {
  clear: both; }

body {
  font-size: 16px;
  font-family: "Avenir Next", Avenir, Trebuchet, sans-serif;
  text-rendering: optimizeLegibility; }

h1, h2, h3, h4, h5 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "Avenir Next", Avenir, Trebuchet, sans-serif;
  line-height: 1.2; }

h1 {
  font-size: 30px; }

h2 {
  font-size: 24px; }

p {
  margin-bottom: 10px;
  line-height: 1.4; }

a {
  text-decoration: none; }

ul, ol, dl {
  margin-bottom: 10px;
  line-height: 1.4; }

li, dt, dd {
  margin-bottom: 5px; }

ul, ol, dd {
  margin-left: 20px; }

strong, b {
  font-weight: bold; }

em, i {
  font-style: italic; }

sup, sub {
  position: relative;
  vertical-align: baseline;
  font-size: 14px; }

sup {
  top: -0.4em; }

sub {
  top: 0.4em; }

main {
  margin: 0 auto 20px auto;
  padding: 0 20px;
  max-width: 40em; }

article:not(:last-child) {
  margin-bottom: 20px; }

img {
  max-width: 100%;
  height: auto; }

.aligncenter {
  display: block;
  margin-bottom: 10px;
  width: 100%; }

@media screen and (max-width: 479px) {
  img, .alignleft, .alignright {
    display: block;
    margin-bottom: 10px;
    margin-left: -20px;
    max-width: calc(100% + 40px);
    width: calc(100% + 40px); } }
@media screen and (min-width: 480px) {
  .alignleft {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    max-width: 50%; }

  .alignright {
    float: right;
    margin-bottom: 10px;
    margin-left: 20px;
    max-width: 50%; } }
#site-header {
  margin-bottom: 20px;
  text-align: center; }
  #site-header img {
    margin-top: 15px;
    width: 50px;
    height: 50px;
    border-radius: 5px; }
  #site-header h1 {
    margin-bottom: 15px; }

#site-navigation {
  padding: 0;
  border-top: 3px solid;
  background-color: white; }
  #site-navigation ul, #site-navigation li {
    margin: 0;
    padding: 0; }
  #site-navigation li {
    display: inline-block; }
  #site-navigation a {
    display: inline-block;
    padding: 10px 20px; }

@media screen and (max-width: 479px) {
  #site-header {
    text-align: left; }
    #site-header img {
      display: none; }
    #site-header h1 {
      margin: 0; }
      #site-header h1 a {
        float: left;
        padding: 15px 20px;
        width: calc(100% - 70px); }

  .nav-toggle {
    display: inline-block;
    padding: 15px 0;
    width: 70px;
    height: 66px; }

  #site-navigation li, #site-navigation a {
    display: block;
    width: 100%; }
  #site-navigation li:not(:last-child) {
    border-bottom: 1px solid; } }
.external-link:after {
  margin-left: 20px;
  width: 40px;
  content: "\e609";
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-size: 16px;
  font-family: 'icomoon';
  line-height: 1;
  speak: none; }

.format-image figcaption {
  padding: 10px;
  text-align: center; }

hr.footnotes {
  margin-bottom: 10px;
  border-top: 1px solid;
  border-right: 20px solid;
  border-left: 20px solid; }

ol.footnotes {
  font-size: 14px; }

.post-meta {
  margin-top: 25px;
  font-size: 14px; }

.post-meta ul {
  margin-left: 0;
  list-style: none; }
  .post-meta ul li {
    margin-right: 20px;
    margin-bottom: 10px;
    vertical-align: top; }
    @media screen and (min-width: 480px) {
      .post-meta ul li {
        display: inline-block;
        width: calc(50% - 0.5em - 20px); } }
  .post-meta ul li:before {
    margin-right: 10px;
    width: 40px;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-family: 'icomoon';
    line-height: 1;
    speak: none; }
  .post-meta ul .author:before {
    content: "\e615"; }
  .post-meta ul .posted:before {
    content: "\e60e"; }
  .post-meta ul .updated:before {
    content: "\e61a"; }
  .post-meta ul .categories:before {
    content: "\e60c"; }
  .post-meta ul .tags:before {
    content: "\e616"; }
  .post-meta ul .credits:before {
    content: "\e619"; }
  .post-meta ul .photo-credits:before {
    content: "\e612"; }

.site-pagination {
  margin-bottom: 30px;
  text-align: center; }

#site-footer {
  margin-bottom: 50px;
  text-align: center; }
