$HeadlineTypeface: Avenir, sans-serif;
$BodyTypeface: Avenir, sans-serif;

$SiteTitleFontSize: 24px;
$PostTitleFontSize: 20px;
$PostMetaFontSize: 12px;
$PostSubheadFontSize: 20px;

$BodyFontSize: 16px;
$FootnoteFontSize: 14px;
$CaptionFontSize: 14px;

$CommentMetaFontSize: 12px;