@import 'defaults.scss';

/*##########
## MIXINS ##
##########*/

/* setfontsize /////////////////////////////////////////////////////////////
// Change font size between several levels
//////////////////////////////////////////////////////////////////////////*/
@mixin setfontsize($level:0)	{
	@if $level==0 {
		font-size: 1rem;
	} @else { @if $level==1 {
		font-size: 1.324rem;
	} @else { @if $level==2 {
		font-size: 1.324 * 1.324rem;
	} @else { @if $level==3 {
		font-size: 1.324 * 1.324 * 1.324rem;
	} @else { @if $level==-1 {
		font-size: 0.825rem;
	} @else { @if $level==-2 {
		font-size: 0.755rem;
	}}}}}}
}

/* pskip ///////////////////////////////////////////////////////////////////
// Add a vertical space after element
//////////////////////////////////////////////////////////////////////////*/
@mixin pskip($height:1)	{ 
	margin-bottom: ($height) * $VGutter; 
}

/* antiskip ////////////////////////////////////////////////////////////////
// Cancels a pskip from the immediately preceding element
//////////////////////////////////////////////////////////////////////////*/
@mixin antiskip($height:1) { 
	margin-top: -($height) * $VGutter; 
}

/* headlinetype, texttype, footnotetype ////////////////////////////////////
// The main typographic styles
//////////////////////////////////////////////////////////////////////////*/
@mixin headlinetype { 
	@include setfontsize(1);
	line-height: 0.75 * $DefaultLineHeight;
}
@mixin subheadtype {
	@include setfontsize(0);
	line-height: 0.75 * $DefaultLineHeight;
}
@mixin texttype { 
	@include setfontsize(0);
	line-height: $DefaultLineHeight; 
}
@mixin commenttype { 
	@include setfontsize(-1);
	line-height: 0.9 * $DefaultLineHeight;
}
@mixin footnotetype { 
	@include setfontsize(-2);
	line-height: 0.8 * $DefaultLineHeight;
}

/*####################
## BASIC TYPOGRAPHY ##
####################*/

body {
	@include texttype;
	text-rendering: optimizeLegibility;
}

body > footer {
	@include footnotetype;
}

h1, h2, h3 { 
	@include headlinetype;
}

h4, th, dt, nav {
	@include subheadtype;
}

figcaption {
	@include commenttype;
	@include pskip(0.25);
}

dt,dd,th,td	{ line-height: 0.95 * $DefaultLineHeight; }

strong, b	{ font-weight: bold; }
em, i		{ font-style: italic; }

sup, sub { 
	@include commenttype; 
	vertical-align: baseline; 
	position: relative;
}
sup	{ top: -0.4em; }
sub	{ top:  0.4em; }

p, blockquote, dt, dd, li {
	@media screen and #{$ColumnatedScreen} {
		text-align: justify;
		text-justify: distribute;
    }
}