/*#######################
## Basic document info ##
#######################*/
/*###############################
## ABSTRACT SECTION TEMPLATES  ##
###############################*/
/*##########
## MIXINS ##
##########*/
/*####################
## BASIC TYPOGRAPHY ##
####################*/
body {
  font-size: 1em;
  line-height: 1.5em;
  text-rendering: optimizeLegibility; }

h1, h2, h3 {
  font-size: 1.324em;
  line-height: 1.125em; }

h4, th, dt, nav {
  font-size: 1em;
  line-height: 1.125em; }

figcaption {
  font-size: 0.825em;
  line-height: 1.35em;
  margin-bottom: 3px; }

dt, dd {
  line-height: 1.425em; }

strong, b {
  font-weight: bold; }

em, i {
  font-style: italic; }

sup, sub {
  font-size: 0.825em;
  line-height: 1.35em;
  vertical-align: baseline;
  position: relative; }

sup {
  top: -0.4em; }

sub {
  top: 0.4em; }

@media screen and (min-width: 576px) {
  p, blockquote, dt, dd, li {
    text-align: justify;
    text-justify: distribute;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto; } }
