//  BASE  /////////////////////////////////////////////////////////////////////
//
//  Common variables and mixins to be included in all other partials.
//

@import "settings";  // override defaults with local/_settings


//  I. Fonts  /////////////////////////////////////////////////////////////////

$headline-font-family:  "Source Sans Pro", "Avenir Next", "News Gothic MT",
                          sans-serif !default;
$body-font-family:      "Source Sans Pro", "Avenir Next", "News Gothic MT",
                          sans-serif !default;
$code-font-family:      Inconsolata, monospace !default;

$default-font-size:     large !default;


//  II. Spacing  //////////////////////////////////////////////////////////////

$parskip-length:        1.25rem !default;


//  III. Layout  //////////////////////////////////////////////////////////////

$max-width:             640px  !default;
$gutter-width:          20px   !default;

$mobile-breakpoint:     640px  !default;

@mixin mobile {
  @media screen and (max-width: $mobile-breakpoint - 1) {
    @content
  }
}

@mixin widescreen {
  @media screen and (min-width: $mobile-breakpoint) {
    @content
  }
}

@mixin fullwidth {
    margin-left: -$gutter-width;
    margin-right: -$gutter-width;
    max-width: calc(100% + 40px); // 100% + 2*$gutter-width
    width: calc(100% + 40px); // 100% + 2*$gutter-width
}

%background::before {
    // background pseudo-element extending to the edges of the screen
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -50vw;
    height: 100%;
    width: 100vw;
    z-index: -1;
    box-shadow: $shadow;
}

//  IV. Colours  //////////////////////////////////////////////////////////////

$text-colour:                  #586e75 !default;
$link-colour:                  #268bd2 !default;
$link-hover-colour:            #dc322f !default;
$headline-colour:              #d33682 !default;
$minor-colour:                 #93a1a1 !default;
$minor-link-colour:            #93a1a1 !default;

$body-background-colour:       #eee8d5 !default;
$header-colour:                #fdf6e3 !default;
$header-background-colour:     #073642 !default;
$menu-background-colour:       #268bd2 !default;
$menu-hover-colour:            #dc322f !default;

$code-colour:                  #93a1a1 !default;
$code-background-colour:       #002b36 !default;

$shadow: 0 2px 5px rgba(0, 0, 0, 0.3) !default;
