//  BASE  /////////////////////////////////////////////////////////////////////
//
//  Common variables and mixins to be included in all other partials.
//

// Override any of the default settings by creating `_localsettings.scss` and
// uncommenting the following line:

// @import "localsettings";

//  I. Fonts  /////////////////////////////////////////////////////////////////

$headline-font-family:  "Source Sans Pro", "Avenir Next", "News Gothic MT", sans-serif !default;
$body-font-family:      "Source Sans Pro", "Avenir Next", "News Gothic MT", sans-serif !default;
$code-font-family:      Inconsolata, monospace !default;

$default-font-size:     100% !default; // must be numeric

$headline-type: "Avenir Next Condensed", "Source Sans Pro", "News Gothic MT", sans-serif;
$body-type: "Avenir Next", "Source Sans Pro", "News Gothic MT", sans-serif;
$code-type: Inconsolata, monospace;

$huge:   2.25rem;
$large:   1.5rem;
$default:  large;
$tiny:     .5rem;

$header-height: 4rem;
$article-sep: 1.5rem;
$gutter-width: 20px;


//  II. Site structure
//
//  Set the width of the main body on large screens.
//

$max-width: 840px;
$shadow: 0 2px 5px rgba(29, 34, 41, 0.3);


//  III. Colours
//
//  Set the colour scheme.
//
//  Be sure to choose colours with readable contrast ratios.
//  The foreground-background pairs that need to be tested are:
//
//    - $foreground  on $background
//    - $headlines   on $background
//    - $links       on $background
//    - $links-hover on $background
//    - $minor       on $background
//    - $minor-links on $background
//
//    - $header-fg   on $header-bg
//    - $block-fg    on $block-bg
//    - $menu-fg     on $menu-bg
//    - $footnote-fg on $footnote-bg
//
//

$background:   #f5f7fc;
$text-background: #ffffff;
$foreground:   #474f59;
$headlines:    #0087bd;
$links:        #16a777;
$links-hover:  #b04c9c;
$minor:        #a6adb8;
$minor-links:  #a6adb8;

$header-bg:    #2a3038;
$header-fg:    #ffffff;

$block-bg:     #f5f7fc;
$block-fg:     #474f59;
$block-border: #d1d3dc;

$menu-bg:      #0087bd;
$menu-fg:      #ffffff;

$footnote-bg:  #16a777;
$footnote-fg:  #ffffff;

$hr:           #f5f7fc;
