//  _base.scss
//
//  Common variables and mixins to be included in all other partials.
//

@import '../../local/settings/*';

//  I. Fonts

$body-font:      "Avenir Next", sans-serif !default;
$body-font-size: large !default;


//  II. Colors

$base-colors:    #586e75, #657b83, #93a1a1, #eee8d5, #fdf6e3 !default;
$splash-colors:  #b58900, #d33682, #073642                   !default;

$header-text:     nth($base-colors, 5)   !default;
$header-color:    nth($splash-colors, 1) !default;
$menu-color:      nth($splash-colors, 3) !default;
$headline-color:  nth($splash-colors, 3) !default;


//  II. Breakpoints

$max-width:  640px  !default;
$breakpoint: 640px  !default;

@mixin mobile {
  @media screen and (max-width: $breakpoint - 1) {
    @content
  }
}

@mixin widescreen {
  @media screen and (min-width: $breakpoint) {
    @content
  }
}


//  III. Gutters

$gutter-fraction: 1/16 !default;

@mixin gutters {
  @include widescreen {
    padding-right: $gutter-fraction * $max-width;
    padding-left: $gutter-fraction * $max-width;
  }

  @include mobile {
    padding-right: $gutter-fraction * 100%;
    padding-left: $gutter-fraction * 100%;
  }
}

$gutter-relto-child: $gutter-fraction / (1-2*$gutter-fraction);

@mixin fullwidth {
  width: (1 + 2 * $gutter-relto-child) * 100%;
  max-width: (1 + 2 * $gutter-relto-child) * 100%;
  margin-left: -$gutter-relto-child * 100%;
  margin-right: -$gutter-relto-child * 100%;
  padding-left: $gutter-relto-child * 100%;
  padding-right: $gutter-relto-child * 100%;
}
