//  BLOCKS  ///////////////////////////////////////////////////////////////////
//
//  Styles for basic block tags, including pre, lists, and blockquote.
//


aside,
blockquote,
pre {
}

pre {
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
}

ol,
ul {
  margin-left: 0;
  padding-left: 20px;
}
