//  BLOCKS  ///////////////////////////////////////////////////////////////////
//
//  Styles for basic block tags, including pre, lists, and blockquote.
//

@import "base";

aside,
blockquote,
pre {
  @include fullwidth;
  padding: 10px $gutter-width;
}

pre,
pre code {
  white-space: pre-wrap;
  word-wrap: break-word;
  color: $code-colour;
  background-color: $code-background-colour;
}

ol,
ul {
  margin-left: 0;
  padding-left: 20px;
}

hr {
  border-style: solid;
  border-width: thin;
  clear: both;
  border-color: $hr-colour;
}