//  COLOUR  ///////////////////////////////////////////////////////////////////
//
//  Define the colour theme.
//

// @import "local_settings.scss";

//  I. Default text
//
//  Default text and headline colours, and colours for inline tags.
//
//

body {
  background-color: $background;
  color: $foreground;
}

main,
article {
  background: $text-background;
}

h1,
h2,
h3 {
  color: $headlines;

  a,
  a:visited {
    color: $headlines;
  }
}

a,
a:visited {
  color: $links;
}

a:hover {
  color: $links-hover;
}

a:after {
  color: $minor;
}

code {
  background-color: $block-bg;
}


//  II. Blocks
//
//  Colours for basic block tags, including pre, lists, and blockquote.
//
//

%gutterblock {
  border-color: $block-border;
  background-color: $block-bg;
  color: $block-fg;
}

aside,
blockquote,
address,
pre {
  @extend %gutterblock;
}

hr {
  border-color: $hr;
}


//  III. Images and figures
//
//  Default colours for picture borders and backgrounds.
//
//

figcaption {
  color: $minor;

  a,
  a:visited,
  a:hover {
    color: $minor-links;
  }
}


//  IV. Site structure
//
//  Colours for the title banner and main content.
//
//

.site-header {
  background-color: $header-bg;
  color: $header-fg;

  a,
  a:visited,
  a h1 {
    color: $header-fg;
  }
}

#site-navigation {
  a,
  a:visited {
    color: $header-fg;
  }

  .current-menu-item {
    background-color: $menu-bg;
    color: $menu-fg;

    a,
    a:visited {
      color: $menu-fg;
    }
  }

  @media screen and (max-width: 567px) {
    background-color: $menu-bg;
    color: $menu-fg;

    a,
    a:visited {
      color: $menu-fg;
    }
  }
}

footer {
  color: $minor;

  a,
  a:visited,
  a:hover {
    color: $minor-links;
  }
}


//  V. Footnotes
//
//  Colours for footnotes and footnote markers.
//
//

.footnotes {
  color: $minor;

  a,
  a:visited,
  a:hover {
    color: $minor-links;
  }
}

a[rel="footnote"] {
  background-color: $footnote-bg;
  color: $footnote-fg;
}

a[rev="footnote"] {
  color: $footnote-bg;
}

