//  FONTS  ////////////////////////////////////////////////////////////////////
//
//  Select font family, size, line height, and text colour for basic elements.
//

@import "base";

body {
  font-family: $body-font-family;
  font-size: $default-font-size;
  color: $text-colour;
  text-rendering: optimizeLegibility;
}

a,
a:visited {
  color: $link-colour;
}

a:hover,
a:visited:hover {
  color: $link-hover-colour;
}

header,
h1,
h2,
h3,
h4,
h5,
h6,
thead,
th,
%headline {
  font-family: $headline-font-family;
  line-height: 1.2;

  a,
  a:visited {
    color: inherit;
  }
}

h1 {
  font-size: 146%;
}

h2 {
  font-size: 133%;
}

h3 {
  font-size: 121%;
}

p,
dl,
ol,
ul,
pre,
figcaption {
  font-size: 110%;
  line-height: 1.2;
}

code,
samp,
kbd {
  font-family: $code-font-family;
}

sup,
sub,
footer {
  font-size: 90%;
}
