//  FONTS  ////////////////////////////////////////////////////////////////////
//
//  Select font family, size, line height, and text colour for basic elements.
//

@import "base";

body {
  font-family: $body-font-family;
  font-size: $default-font-size;
  color: $text-colour;
  text-rendering: optimizeLegibility;
}

a,
a:visited {
  color: $link-colour;
}

a:hover,
a:visited:hover {
  color: $link-hover-colour;
}

header,
h1,
h2,
h3,
h4,
h5,
h6,
thead,
th,
%headline {
  font-family: $headline-font-family;
  color: $headline-colour;

  a,
  a:visited {
    color: $headline-colour;
  }
}

h1 {
  font-size: 200%;
  line-height: 1.2;
}

h2 {
  font-size: 150%;
  line-height: 1.2;
}

h3 {
  font-size: 125%;
  line-height: 1.2;
}

p,
dl,
ol,
ul,
figcaption {
  line-height: 1.4;
}

pre {
  line-height: 1.2;
}

code,
samp,
kbd {
  font-family: $code-font-family;
}

sup,
sub,
footer,
.footnotes {
  font-size: 75%;
}

aside,
figcaption,
footer,
.footnotes,
%minor {
  color: $minor-colour;

  a,
  a:hover,
  a:visited,
  a:visited:hover {
    color: $minor-link-colour;
  }
}
