//  IMAGES  ///////////////////////////////////////////////////////////////////
//
//  Default styles for displaying pictures.
//

@import "base";

img,
figcaption {
  height: auto;
  max-width: 100%;
  width: 100%;
}

figcaption {
  padding: 5px;
  text-align: center;
}

.banner {
  @include fullwidth;
}

.left {
  @include widescreen {
    float: left;
    margin-left: 0;
    margin-right: 20px;

    & + h1,
    & + h2,
    & + h3 {
      margin-top: 0;
    }
  }
}

.right {
  @include widescreen {
    float: right;
    margin-left: 20px;
    margin-right: 0;
  }
}
