//  IMAGES  ///////////////////////////////////////////////////////////////////
//
//  Default styles for displaying pictures.
//

@import "base";

img,
figcaption {
  height: auto;
  max-width: 100%;
  width: 100%;
}

figcaption {
  padding: 5px;
  text-align: center;
}

@include mobile {
  section > figure:not([class]):first-child {
    margin-top: -$parskip-length;
  }

  figure:not([class]) {
    @include fullwidth;
  }
}

@include widescreen {
  figure:not([class]) {
    clear: left;
    display: inline-block;
    margin: 0 0.5*$gutter-width 0 (-0.5*$gutter-width);
    max-width: calc(30% + 20px); // 100% + $gutter-width
    vertical-align: middle;
    width: calc(30% + 20px); // 100% + $gutter-width

    img {
      border-radius: 0.5 * $gutter-width;
    }

    & + p,
    & + dl,
    & + ol,
    & + ul,
    & + code,
    & + pre,
    & + aside {
      display: inline-block;
      vertical-align: middle;
      width: calc(70% - 40px);
    }
  }
}

.banner {
  @include fullwidth;
}
