//  IMAGES  ///////////////////////////////////////////////////////////////////
//
//  Default styles for displaying pictures.
//

@import "base";

img,
figcaption {
  height: auto;
  max-width: 100%;
  width: 100%;
}

figcaption {
  padding: 5px;
  text-align: center;
}

figure:not([class]) {
  clear: left;
  float: left;
  margin-left: -$gutter-width;
  margin-right: 1em;
  max-width: calc(30% + 20px); // 100% + $gutter-width
  width: calc(30% + 20px); // 100% + $gutter-width
}

figure.right {
  clear: right;
  float: right;
  margin-left: 1em;
  margin-right: -$gutter-width;
  max-width: calc(30% + 20px); // 100% + $gutter-width
  width: calc(30% + 20px); // 100% + $gutter-width
}

.banner {
  @include fullwidth;
}
