//  LAYOUT  ///////////////////////////////////////////////////////////////////
//
//  Set the position, size, and background color of major layout elements.
//

@import 'base';

html,
body {
  height: 100%;
}

body {
  background-color: nth($base-colors, 4);
  padding: 0;
}

main {
  @include gutters;

  margin: 0 auto;
  background-color: nth($base-colors, 5);
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  max-width: $max-width;
}

footer {
  padding: 1em;
  text-align: center;
}
