//  LAYOUT  ///////////////////////////////////////////////////////////////////
//
//  Set the position, size, and background colour of major layout elements.
//

@import "base";

body {
  background-color: $body-background-colour;
}

main,
article {
  margin-left: auto;
  margin-right: auto;
  max-width: $max-width;
  padding: $gutter-width;
  box-shadow: $shadow;
  background: $content-background-colour;
}

article {
  margin-top: $article-sep;
}

hr {
  border-style: solid;
  border-width: thin;
  clear: both;
  border-color: $hr-colour;
}

footer {
  margin-top: $article-sep;
  text-align: center;
}
