//  SPACING  //////////////////////////////////////////////////////////////////
//
//  Define default margins for text content elements.
//

@import "base";

p,
h1,
h2,
h3,
h4,
h5,
dl,
dt,
dd,
ol,
ul,
li,
aside,
blockquote,
figure,
figcaption,
pre, {
  margin-bottom: $parskip-length;

  &:last-child {
    margin-bottom: 0;
  }
}

h1,
h2,
h3 {
  margin-top: 2rem;

  &:first-child {
    margin-top: 0;
  }
}

hr {
  margin: 2rem 0;
}
