//  Main Stylesheet
//  ===============

//  I. Default text
//
//  Default text and headline styles, and styles for inline tags
//
//

body {
  font-family: $body-type;
  font-size: $default;
  text-rendering: optimizeLegibility;
}

header {
  font-family: $headline-type;
}

footer {
  font-size: small;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $headline-type;
  line-height: 1.2;
  margin-bottom: 10px;
}

h1 {
  font-size: $huge;
  margin-top: 30px;
  &:first-child {
    margin-top: 0;
  }
}

h2 {
  font-size: $large;
  margin-top: 20px;
}

h3 {
  margin-top: 20px;
}

th {
  font-family: $headline-type;
  font-size: $default;
}

p,
figcaption {
  line-height: 1.4;
  margin-bottom: 10px;
}

sup,
sub {
  font-size: $tiny;
}

code {
  font-family: $code-type;
  padding: 2px 5px;
}
