//  _text.scss
//
//  Select font, spacing, and color for basic elements.
//

@import 'base';

body {
  text-rendering: optimizeLegibility;
  line-height: 1;
  color: nth($base-colors, 1);
  font-family: $body-font;
  font-size: $body-font-size;
  -webkit-font-smoothing: antialiased;
}

main {
  line-height: 1.4;

  p,
  h1,
  h2,
  h3,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  blockquote,
  figure,
  pre {
    @include parskip(1);
  }

  li,
  li p,
  dt,
  dd {
    @include parskip(.5);
  }

  dd {
    @include gutter(left);
  }

  a {
    color: nth($splash-colors, 1);
  }

  a:visited {
    color: nth($splash-colors, 3);
  }

  a:hover,
  a:visited:hover {
    color: nth($splash-colors, 2);
  }

  h1,
  h2,
  h3 {
    color: $headline-color;
    font-family: $body-font;
    font-weight: normal;

    a,
    a:visited {
      text-decoration: none;
      color: inherit;
    }
  }

  h1 { font-size: 200%; }
  h2 { font-size: 150%; }
  h3 { font-size: 125%; }

  sup,
  sub {
    font-size: 60%;
  }

  address,
  figcaption,
  time,
  .footnotes {
    color: nth($base-colors, 2);
    font-size: 75%;
    font-style: italic;
  }
}

footer {
  color: nth($base-colors, 2);
  font-size: 60%;
  text-transform: uppercase;
}
