<header class="site-header">
  <img src="<%= @site.config[:header_img] %>" height="50px" width="50px" alt="" />
  <h1><a href="<%= @site.config[:base_url] %>" rel="home">
    <%= @site.config[:title] %>
  </a></h1>

  <label for="show-navigation" class="show-navigation">&#9776;</label>
  <input type="checkbox" id="show-navigation" role="button" />
  <nav id="site-navigation" role="navigation">
    <ul><% for branch in @site.config[:branches] %>
      <li<%= @page_branch == branch[:id] ? " class='current-menu-item'" : "" %>>
          <a href="<%= branch[:url] %>"><%= branch[:name] %></a>
      </li>
    <% end %></ul>
  </nav>
</header>
