<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= @site.config[:title] %> | <%= @page_title %></title>
    
    <link rel="stylesheet" href="<%= @site.config[:base_url] %>/copernicus/stylesheets/copernicus.css">
    <link rel="stylesheet" href="<%= @site.config[:base_url] %>/copernicus/stylesheets/copernicus-colour.css">
    <script type="text/javascript" src="<%= @site.config[:base_url] %>/copernicus/js/responsive-nav.js"></script>
</head>