//  Colour
//
//  The default colour scheme.
//
//  Contents (same section numbers as `main.scss`)
//  ========
//
//  0.    Colour definitions
//  I.    Text
//  II.   Blocks
//  III.  Images and figures
//  IV.   Site structure
//  V.    Footnotes
//  VI.   Experimental
//


//  0. Colour definitions

$background:    <%= @site.config[:colours][:background] %>;
$foreground:    <%= @site.config[:colours][:foreground] %>;

$header-bg:     <%= @site.config[:colours][:header_bg] %>;
$header-fg:     <%= @site.config[:colours][:header_fg] %>;

$block-bg:      <%= @site.config[:colours][:block_bg] %>;
$block-fg:      <%= @site.config[:colours][:block_fg] %>;
$block-border:  <%= @site.config[:colours][:block_border] %>;

$menu:          <%= @site.config[:colours][:menu] %>;
$headlines:     <%= @site.config[:colours][:headlines] %>;
$links:         <%= @site.config[:colours][:links] %>;
$links-hover:   <%= @site.config[:colours][:links_hover] %>;
$footnote-bg:   <%= @site.config[:colours][:footnote_bg] %>;
$footnote-fg:   <%= @site.config[:colours][:footnote_fg] %>;

$minor:         <%= @site.config[:colours][:minor] %>;
$minor-links:   <%= @site.config[:colours][:minor_links] %>;

$hr:            <%= @site.config[:colours][:hr] %>;


//  I. Default text
//
//  Define default text and headline colours, and colours for inline tags
//
//

body {
  background-color: $background;
  color: $foreground;
}

h1,
h2,
h3 {
  color: $headlines;
}

a,
a:visited {
  color: $links;
}

a:hover {
  color: $links-hover;
}

a:after {
  color: $minor;
}

h1 a,
h1 a:visited {
  color: $headlines;
}

code {
  background-color: $block-bg;
}


//  II. Blocks
//
//  Define colours for basic block tags, including pre, lists, blockquote
//
//

%gutterblock {
  border-color: $block-border;
  background-color: $block-bg;
  color: $block-fg;
}

aside,
blockquote,
address,
pre {
  @extend %gutterblock;
}

hr {
  border-color: $hr;
}


//  III. Images and figures
//
//  Define default colours for picture borders and backgrounds
//
//

figcaption {
  background-color: $header-bg;
  color: $header-fg;
}

.thumbnail {
  border-color: $block-border;
}


//  IV. Site structure
//
//  Define colours for the title banner and main content
//
//

.site-header {
  background-color: $header-bg;
  color: $header-fg;

  a,
  a:visited,
  a h1 {
    color: $header-fg;
  }
}

#site-navigation {
  ul {
    background-color: $background;
  }

  a,
  a:visited {
    color: $header-fg;
  }
}

#site-navigation .current-menu-item,
#site-navigation li:hover {
  background-color: $menu;
  color: $background;

  a,
  a:visited {
    color: $background;
  }
}

@media screen and (max-width: 567px) {
  #site-navigation ul {
    color: $background;
  }

  #site-navigation {
    background-color: $menu;
    color: $background;

    a,
    a:visited {
      color: $background;
    }
  }
}

footer {
  color: $minor;

  a,
  a:visited,
  a:hover {
    color: $minor;
  }
}

//  V. Footnotes
//
//  Define colours for the Markdown footnote extension.
//
//

a[rel="footnote"] {
  background-color: $footnote-bg;
  color: $footnote-fg;
}

a[rev="footnote"] {
  color: $footnote-bg;
}

.footnotes {
  color: $minor;
}
