//  Colour
//
//  The default colour scheme.
//
//  Contents (same section numbers as `main.scss`)
//  ========
//
//  0.    Colour definitions
//  I.    Text
//  II.   Blocks
//  III.  Images and figures
//  IV.   Site structure
//  V.    Footnotes
//  VI.   Experimental
//


//  0. Colour definitions

$background:   #fff;
$foreground:   #2b303a;
$headlines:    #0087bd;
$links:        #08965d;
$links-hover:  #c03054;
$minor:        #a7adba;
$minor-links:  #60c7c4;

$header-bg:    #2b303a;
$header-fg:    #fff;

$block-bg:     #eff1f5;
$block-fg:     #4f5b66;
$block-border: #dadde5;

$menu-bg:      #0087bd;
$menu-fg:      #fff;

$footnote-bg:  #0087bd;
$footnote-fg:  #fff;

$hr:           #dadde5;


//  I. Default text
//
//  Define default text and headline colours, and colours for inline tags
//
//

body {
  background-color: $background;
  color: $foreground;
}

h1,
h2,
h3 {
  color: $headlines;
}

a,
a:visited {
  color: $links;
}

a:hover {
  color: $links-hover;
}

a:after {
  color: $minor;
}

h1 a,
h1 a:visited {
  color: $headlines;
}

code {
  background-color: $block-bg;
}


//  II. Blocks
//
//  Define colours for basic block tags, including pre, lists, blockquote
//
//

%gutterblock {
  border-color: $block-border;
  background-color: $block-bg;
  color: $block-fg;
}

aside,
blockquote,
address,
pre {
  @extend %gutterblock;
}

hr {
  border-color: $hr;
}


//  III. Images and figures
//
//  Define default colours for picture borders and backgrounds
//
//

figcaption {
  background-color: $header-bg;
  color: $header-fg;
}

.thumbnail {
  border-color: $block-border;
}


//  IV. Site structure
//
//  Define colours for the title banner and main content
//
//

.site-header {
  background-color: $header-bg;
  color: $header-fg;

  a,
  a:visited,
  a h1 {
    color: $header-fg;
  }
}

#site-navigation {
  ul {
    background-color: $background;
  }

  a,
  a:visited {
    color: $header-fg;
  }
}

#site-navigation .current-menu-item,
#site-navigation li:hover {
  background-color: $menu;
  color: $background;

  a,
  a:visited {
    color: $background;
  }
}

@media screen and (max-width: 567px) {
  #site-navigation ul {
    color: $background;
  }

  #site-navigation {
    background-color: $menu;
    color: $background;

    a,
    a:visited {
      color: $background;
    }
  }
}

footer {
  color: $minor;

  a,
  a:visited,
  a:hover {
    color: $minor;
  }
}

//  V. Footnotes
//
//  Define colours for the Markdown footnote extension.
//
//

a[rel="footnote"] {
  background-color: $footnote-bg;
  color: $footnote-fg;
}

a[rev="footnote"] {
  color: $footnote-bg;
}

.footnotes {
  color: $minor;
}
