//  Reset
//
//   Reset default CSS rendering for predictable results across modern browsers.
//
//

%clearfix {
  // The micro clearfix http://nicolasgallagher.com/micro-clearfix-hack/
  &:before,
  &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }
}

html {
  font-size: 100%;
  min-height: 100%;
  overflow-y: scroll;
  position: relative;
}

body {
  line-height: 1;
}

* {
  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font: inherit;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: underline;
}

h1,
h2,
h3,
header,
nav {
  a,
  a:hover {
    text-decoration: none;
  }
}

strong,
b {
  font-weight: bold;
}

em,
i {
  font-style: italic;
}

sup,
sub {
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.8em;
}

sub {
  top: .4em;
}

article,
aside,
body,
div,
figure,
footer,
header,
main,
nav,
section {
  @extend %clearfix;
  display: block;
  position: relative;
}
