<!DOCTYPE HTML>
%html{lang: 'en'}
  %head
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %link{rel: 'stylesheet', href: 'copernicus/copernicus.css'}
    %link{rel: 'stylesheet', href: 'copernicus/colour.css'}
  %body
    %header.site-header
      %div
        %a.site-title{rel: 'home'}>
          %img{height: '50px', width: '50px'}
          %h1
        %label.show-navigation{for: 'show-navigation'}>
          &#9776;
        %input#show-navigation{type: 'checkbox', role: 'button'}>
        %nav#site-navigation{role: 'navigation'}
          %a{class: ('current-menu-item' if appropriate)}
    %main
      Put content here. Additional styles are provided for:
      %figure.banner
      %figure.illustration
      %figure.right
      %footer.footnotes
    %footer
      %p
        &copy;
