//  IcoMoon
//
//  @uses font-family: 'icomoon' to provide the following icons:
//
//

@font-face {
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/icomoon-eot.eot');
  src: url('../fonts/icomoon-eot.eot?#iefix') format('embedded-opentype'),
       url('../fonts/icomoon-ttf.ttf') format('truetype'),
       url('../fonts/icomoon-woff.woff') format('woff'),
       url('../fonts/icomoon-svg.svg#icomoon') format('svg');
}

%icon {
  font-family: 'icomoon';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

%has-icon {
  margin-left: 2em;
  position: relative;
}

%has-icon:before {
  @extend %icon;
  bottom: 0;
  margin-right: 1em;
  position: absolute;
  right: 100%;
  text-transform: none;
  top: 0;
  width: 1em;
}

.mail {
  @extend %has-icon;

  &:before { 
    content: '\e760'; 
  }
}

.location {
  @extend %has-icon;
    
  &:before { 
    content: '\e642'; 
  }
}

.linkedin {
  @extend %has-icon;
    
  &:before { 
    content: '\e79f'; 
  }
}

.github {
  @extend %has-icon;
    
  &:before { 
    content: '\e788'; 
  }
}

.flickr {
  @extend %has-icon;
    
  &:before { 
    content: '\e77a'; 
  }
}

.twitter {
  @extend %has-icon;
    
  &:before { 
    content: '\e76d'; 
  }
}

.stackoverflow {
  @extend %has-icon;
    
  &:before { 
    content: '\e7a5'; 
  }
}

.googleplus {
  @extend %has-icon;
    
  &:before { 
    content: '\e766'; 
  }
}

.facebook { 
  @extend %has-icon;
    
  &:before { 
    content: '\e769'; 
  }
}
