//  Main Stylesheet
//
//  Define the main layout and typographic styles (excluding colours).
//
//  Contents
//  ========
//
//  0.    Define constants
//  I.    Text
//  II.   Blocks
//  III.  Images and figures
//        a   Default images
//        b   Default figures
//        c   Custom classes
//  IV.   Site structure
//        a   Header
//        b   Responsive navigation
//        c   main
//  V.    Footnotes
//  VI.   Experimental
//

@import 'copernicus-reset.scss';
@import 'copernicus-icomoon.scss';

//  0. Define constants

$headline-type: 'Avenir Next Condensed', Avenir, Trebuchet, sans-serif;
$body-type: 'Avenir Next', Avenir, Trebuchet, sans-serif;
$code-type: Inconsolata, monospace;

$huge:   2.25rem;
$large:   1.5rem;
$plus:    1.1rem;   // corrects apparent size of condensed default font
$default: medium;
$small:    .8rem;
$tiny:     .5rem;


//  I. Default text
//
//  Define default text and headline styles, and styles for inline tags
//
//

body {
  font-family: $body-type;
  font-size: $default;
  text-rendering: optimizeLegibility;
}

header {
  font-family: $headline-type;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $headline-type;
  line-height: 1.2;
  margin-bottom: 10px;
}

h1 {
  font-size: $huge;
  margin-top: 30px;
}

h2 {
  font-size: $large;
  margin-top: 20px;
}

h3 {
  font-size: $plus;
  margin-top: 20px;
}

th {
  font-family: $headline-type;
  font-size: $default;
}

p {
  line-height: 1.4;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
header a:hover {
  text-decoration: none;
}

a[href$='.tex'],
a[href$='.pdf'],
a[href$='.zip'],
a[href$='.gz'] {
  &:after {
    @extend %icon;
    font-size: $default;
    margin-left: 5px;
    margin-right: 10px;
    width: 40px;
  }
}

a[href$='.tex']:after {
  content: '\e7b9';
}

a[href$='.pdf']:after {
  content: '\e7b2';
}

a[href$='.zip']:after,
a[href$='.gz']:after {
  content: '\e7b6';
}

strong,
b {
  font-weight: bold;
}

em,
i {
  font-style: italic;
}

sup,
sub {
  font-size: $tiny;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.8em;
}

sub {
  top: .4em;
}

code {
  font-family: $code-type;
  padding: 2px 5px;
}


//  II. Blocks
//
//  Define styles for basic block tags, including pre, lists, blockquote
//
//

%gutterblock {
  border-left-style: solid;
  border-left-width: 20px;
  clear: both;
  margin-bottom: 10px;
  padding: 10px 20px;

  p:last-child {
    margin-bottom: 0;
  }

  @media screen and (max-width: 567px) {
    margin-left: -20px;
    max-width: calc(100% + 40px);
    width: calc(100% + 40px);
  }
}

%gutterbullet {
  @extend %icon;
  bottom: 0;
  content: '\e70a';
  margin-right: 1em;
  position: absolute;
  right: 100%;
  top: 3px;
  width: .5em;
}

blockquote {
  @extend %gutterblock;
}

address {
  @extend %gutterblock;

  p {
    margin-bottom: 0;
  }
}

pre {
  @extend %gutterblock;
  line-height: 1.2;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
}

ol,
ul {
  line-height: 1.4;
  margin-bottom: 10px;
  margin-left: 0;
  padding-left: 20px;

  li {
    margin-bottom: 5px;
    position: relative;

    p {
      margin-bottom: 5px;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  li:last-child {
    margin-bottom: 0;
  }
}

main > ul {
  @extend %gutterblock;
  list-style-type: none;

  & > li:before {
    @extend %gutterbullet;
  }
}

hr {
  border-style: dotted;
  border-width: 1px;
  clear: both;
  margin: 20px 0;
}


//  III. Images and figures
//
//  Define default styles for displaying pictures
//
//

// IIIa. Images

%circle {
  @media screen and (max-width: 567px) {
    border-radius: 25px;
    height: 50px;
    width: 50px;
  }
  @media screen and (min-width: 568px) {
    border-radius: 50px;
    height: 100px;
    width: 100px;
  }
}

%smallcircle {
  border: 2px solid;
  border-radius: 25px;
  height: 50px;
  width: 50px;
}


img {
  height: auto;
  max-width: 100%;
  width: 100%;
}


// IIIb. Figures

%fullwidth-mobile {
  @media screen and (max-width: 567px) {
    margin-left: -20px;
    margin-right: -20px;
    max-width: calc(100% + 40px);
    width: calc(100% + 40px);
  }
}

%fullwidth-widescreen {
  @media screen and (min-width: 568px) {
    float: none;
    max-width: 100%;
    width: 100%;
  }
}

%halfwidth-widescreen {
  @media screen and (min-width: 568px) {
    max-width: 50%;
    width: 50%;
  }
}

@mixin floatleft {
  float: left;
  margin-left: 0;
  margin-right: 20px;

  & + h1,
  & + h2,
  & + h3 {
    margin-top: 0;
  }
}

@mixin floatright {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

figure:not([class]),
figcaption {
  @extend %fullwidth-mobile;
  @extend %halfwidth-widescreen;

  margin-bottom: 10px;

  @media screen and (min-width: 568px) {
    @include floatleft;
  }
}

.banner {
  @extend %fullwidth-mobile;
  @extend %fullwidth-widescreen;

  @media screen and (max-width: 567px) {
    margin-top: -20px;
  }
}

.gallery {
  @extend %fullwidth-mobile;
  @extend %fullwidth-widescreen;

  img {
    width: 1 / 3 * 100%;
  }
}

.right {
  @media screen and (min-width: 568px) {
    @include floatright;
  }
}

.thumbnail {
  @include floatleft;
  @extend %circle;

  img {
    @extend %circle;
  }

  &.right {
    @include floatright;
  }
}

.list-thumbnail {
  @include floatleft;
  @extend %smallcircle;
}


//  IV. Site structure
//
//  Define the title banner and main content
//
//

//  IVa. Header

.site-header {
  text-align: center;

  img {
    @extend %smallcircle;
    margin-top: 15px;
  }

  h1 {
    margin-bottom: 15px;
    margin-top: 10px;
  }

  @media screen and (max-width: 567px) {
    img {
      display: none;
    }

    a {
      display: block;
      width: 100%;
    }

    h1 {
      display: inline-block;
      float: left;
      margin: 0;
      text-align: left;
      width: calc(100% - 50px);

      a {
        padding: 15px 20px;
      }
    }
  }
}

//  IVb. Responsive navigation

#site-navigation {
  border-top: 3px solid;
  font-size: $plus;
  padding: 0;

  ul,
  li {
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
  }

  a {
    display: inline-block;
    padding: 10px 20px;
  }

  @media screen and (max-width: 567px) {
    border-top: 0;

    li {
      display: block;
      float: left;
      width: 50%;
    }

    li {
      border-bottom: 1px solid;
    }
  }
}

label.show-navigation {
  display: inline-block;
  font-size: $huge;
  line-height: 1.2;
  padding: 15px 0;
  text-align: center;
  width: 50px;

  @media screen and (min-width: 568px) {
    display: none;
  }
}

#show-navigation {
  display: none;
}

#show-navigation:not(:checked) + #site-navigation {
  @media screen and (max-width: 567px) {
    display: none;
  }
}

//  IVc. Main

main {
  margin: 30px auto 50px;
  max-width: 45em;
  padding: 0 20px;
}

@media screen and (max-width: 567px) {
  main {
    margin: 20px auto;
  }
}


//  V. Footnotes
//
//  Define styles for the Markdown footnote extension.
//
//

.footnotes {
  font-size: $small;
}

a[rev='footnote'] {
  font-size: $tiny;
}

a[rel='footnote'],
a[rev='footnote'] {
  border-radius: 7px;
  display: inline-block;
  min-width: 19px;
  padding: 1px;
  text-align: center;
  text-decoration: none;
}

a[rel='footnote']:hover,
a[rev='footnote']:hover {
  text-decoration: none;
}


//  VI. Experimental
//
//  Styles added during testing and provisional rules for
//  experimental features.
//
//

.mail {
  font-family: $code-type;
}

