//  Main Stylesheet
//
//  Define the main layout and typographic styles (excluding colours).
//
//  Contents
//  ========
//
//  0.    Define constants
//  I.    Text
//  II.   Blocks
//        a   Defaults
//        b   Custom classes
//  III.  Images and figures
//        a   Default images
//        b   Default figures
//        c   Custom classes
//  IV.   Site structure
//        a   Header
//        b   Responsive navigation
//        c   main
//  V.    Footnotes
//  VI.   Experimental
//

@import 'copernicus-reset.scss';
@import 'copernicus-icomoon.scss';

//  0. Define constants

$headline-type: 'Avenir Next Condensed', Avenir, Trebuchet, sans-serif;
$body-type: 'Avenir Next', Avenir, Trebuchet, sans-serif;
$code-type: Inconsolata, monospace;

$huge:   2.25rem;
$large:   1.5rem;
$plus:    1.1rem;   // corrects apparent size of condensed default font
$default: medium;
$small:    .8rem;
$tiny:     .5rem;


//  I. Default text
//
//  Define default text and headline styles, and styles for inline tags
//
//

body {
  font-family: $body-type;
  font-size: $default;
  text-rendering: optimizeLegibility;
}

header {
  font-family: $headline-type;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $headline-type;
  line-height: 1.2;
  margin-bottom: 10px;
}

h1 {
  font-size: $huge;
  margin-top: 30px;
}

h2 {
  font-size: $large;
  margin-top: 20px;
}

h3 {
  font-size: $plus;
  margin-top: 20px;
}

th {
  font-family: $headline-type;
  font-size: $default;
}

p {
  line-height: 1.4;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
header a:hover {
  text-decoration: none;
}

a[href$='.tex'],
a[href$='.pdf'],
a[href$='.zip'],
a[href$='.gz'] {
  &:after {
    @extend %icon;
    font-size: $default;
    margin-left: 5px;
    margin-right: 10px;
    width: 40px;
  }
}

a[href$='.tex']:after {
  content: '\e7b9';
}

a[href$='.pdf']:after {
  content: '\e7b2';
}

a[href$='.zip']:after,
a[href$='.gz']:after {
  content: '\e7b6';
}

strong,
b {
  font-weight: bold;
}

em,
i {
  font-style: italic;
}

sup,
sub {
  font-size: $tiny;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.8em;
}

sub {
  top: .4em;
}

code {
  font-family: $code-type;
  padding: 2px 5px;
}


//  II. Blocks
//
//  Define styles for basic block tags, including pre, lists, blockquote
//
//

//  IIa. Default tags

%gutterblock {
  border-left-style: solid;
  border-left-width: 20px;
  margin-bottom: 10px;
  padding: 10px 20px;

  p:last-child {
    margin-bottom: 0;
  }

  @media screen and (max-width: 567px) {
    margin-left: -20px;
    max-width: calc(100% + 40px);
    width: calc(100% + 40px);
  }
}

%gutterbullet {
  @extend %icon;
  bottom: 0;
  content: '\e70a';
  margin-right: 1em;
  position: absolute;
  right: 100%;
  top: 3px;
  width: .5em;
}

blockquote {
  @extend %gutterblock;
}

address {
  @extend %gutterblock;

  p {
    margin-bottom: 0;
  }
}

pre {
  @extend %gutterblock;
  line-height: 1.2;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
}

ol,
ul {
  line-height: 1.4;
  margin-bottom: 10px;
  margin-left: 0;
  padding-left: 20px;

  li {
    margin-bottom: 5px;
    position: relative;

    p {
      margin-bottom: 5px;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  li:last-child {
    margin-bottom: 0;
  }
}

main > ul {
  @extend %gutterblock;
  list-style-type: none;

  & > li:before {
    @extend %gutterbullet;
  }
}

hr {
  border-style: dotted;
  border-width: 1px;
  clear: both;
  margin: 20px 0;
}


//  IIb. Custom classes



//  III. Images
//
//  Define default image and figure styles.
//  
//  .center, .right
//  .thumbnail
//  .banner
//  .gallery
//
//

img,
figure,
figcaption {
  height: auto;
  max-width: 100%;
}

.right {
  float: right;
  margin: 0 0 5px 20px;
}

.center {
  text-align: center;
}

.gallery img {
  width: calc(33% - .33em);
}

@media screen and (min-width: 568px) {
  figure {
    float: left;
    margin: 0 20px 5px 0;
    max-width: 50%;
  }

  .center,
  .banner,
  .gallery {
    display: block;
    float: none;
    margin: 0 0 10px;
    max-width: 100%;
    width: 100%;
  }

  .thumbnail {
    height: 200px;
    width: 200px;
  }
}

@media screen and (max-width: 567px) {
  figure,
  figcaption,
  .center,
  .right,
  .gallery {
    display: block;
    margin-bottom: 5px;
    margin-left: -20px;
    max-width: calc(100% + 40px);
    width: calc(100% + 40px);
  }

  figure img {
    margin-bottom: 0;
  }

  .thumbnail {
    float: left;
    height: 100px;
    margin-left: 0;
    margin-right: 20px;
    width: 100px;
  }

  .banner {
    margin-top: -20px;
  }
}

.thumbnail img {
  border: 1px solid;
  border-radius: 5px;
}

.thumbnail + h2 {
  margin-top: 0;
}



//  IV. Site header
//
//  Display the title banner at the top of every page.
//
//

.site-header {
  text-align: center;

  img {
    border-radius: 5px;
    height: 50px;
    margin-top: 15px;
    width: 50px;
  }

  h1 {
    margin-bottom: 15px;
    margin-top: 10px;
  }
}

#site-navigation {
  border-top: 3px solid;
  font-size: $plus;
  padding: 0;

  ul,
  li {
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
  }

  a {
    display: inline-block;
    padding: 10px 20px;
  }
}

@media screen and (max-width: 567px) {
  .site-header {
    img {
      display: none;
    }

    a {
      display: block;
      width: 100%;
    }

    h1 {
      margin: 0;

      a {
        padding: 15px 20px;
      }
    }
  }

  #site-navigation {
    border-top: 0;

    li {
      display: block;
      float: left;
      width: 50%;
    }

    li:not(:last-child) {
      border-bottom: 1px solid;
    }
  }

  .js {
    .site-header h1 {
      text-align: left;

      a {
        float: left;
        width: calc(100% - 50px);
      }
    }

    .nav-toggle {
      display: inline-block;
      font-size: $huge;
      height: 66px;
      padding: 15px 0;
      text-align: center;
      width: 50px;
    }
  }
}


//  V. Responsive navigation
//
//  Display the main navigation menu appearing in the title banner on small
//  screens.
//
//

.nav-collapse {
  clear: both;

  ul {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  display: block;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  zoom: 1;
}

.nav-toggle {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nav-collapse.opened {
  max-height: 250px;
}

.nav-collapse.disable-pointer-events {
  pointer-events: none !important;
}

@media screen and (min-width: 568px) {
  .js .nav-collapse {
    position: relative;
  }

  .js .nav-collapse.closed {
    max-height: none;
  }

  .nav-toggle {
    display: none;
  }
}


//  VI. Footnotes
//
//  Define styles for the Markdown footnote extension.
//
//

.footnotes {
  font-size: $small;
}

a[rev='footnote'] {
  font-size: $tiny;
}

a[rel='footnote'],
a[rev='footnote'] {
  border-radius: 7px;
  display: inline-block;
  min-width: 19px;
  padding: 1px;
  text-align: center;
  text-decoration: none;
}

a[rel='footnote']:hover,
a[rev='footnote']:hover {
  text-decoration: none;
}


//  VII. Experimental
//
//  Styles added during testing and provisional rules for 
//  experimental features.
//
//

.mail {
  font-family: $code-type;
}

