//  Colour
//
//  The default colour scheme.
//
//  Contents (same section numbers as `main.scss`)
//  ========
//
//  0.      Colour definitions
//  I.      Default text
//  II.     n/a
//  III.    Images
//  IV.     Site header
//  V.      n/a
//  VI.     Footnotes
//  VII.    Experimental
//


//  0. Colour definitions

$background:    <%= @site.config[:colours][:background] %>;
$foreground:    <%= @site.config[:colours][:foreground] %>;

$header-bg:     <%= @site.config[:colours][:header_bg] %>;
$header-fg:     <%= @site.config[:colours][:header_fg] %>;

$block-bg:      <%= @site.config[:colours][:block_bg] %>;
$block-fg:      <%= @site.config[:colours][:block_fg] %>;
$block-border:  <%= @site.config[:colours][:block_border] %>;

$menu:          <%= @site.config[:colours][:menu] %>;
$headlines:     <%= @site.config[:colours][:headlines] %>;
$links:         <%= @site.config[:colours][:links] %>;
$links-hover:   <%= @site.config[:colours][:links_hover] %>;
$footnote-bg:   <%= @site.config[:colours][:footnote_bg] %>;
$footnote-fg:   <%= @site.config[:colours][:footnote_fg] %>;

$minor:         <%= @site.config[:colours][:minor] %>;
$minor-links:   <%= @site.config[:colours][:minor_links] %>;

$hr:            <%= @site.config[:colours][:hr] %>;


//  I. Default text

body {
  background-color: $background;
  color: $foreground;
}

h1,
h2,
h3 {
  color: $headlines;
}

a,
a:visited {
  color: $links;
}

a:hover {
  color: $links-hover;
}

a:after {
  color: $minor;
}

code {
  background-color: $block-bg;
}

%gutterblock {
  border-color: $block-border;
  background-color: $block-bg;
  color: $block-fg;
}

%gutterbullet {
  color: $block-border;
}

blockquote,
address,
pre,
main > ul {
  @extend %gutterblock;
}

main > ul > li:before {
  @extend %gutterbullet;
}

hr {
  border-color: $hr;
}


//  III. Images

figcaption {
  background-color: $header-bg;
  color: $header-fg;
}

.thumbnail {
  border-color: $block-border;
}


//  IV. Site header

.site-header {
  background-color: $header-bg;
  color: $header-fg;

  a,
  a:visited {
    color: $header-fg;
  }
}

#site-navigation {
  background-color: $background;
  color: $menu;

  ul {
    background-color: $background;
  }

  a,
  a:visited {
    color: $menu;
  }
}

#site-navigation .current-menu-item,
#site-navigation li:hover {
  background-color: $menu;
  color: $background;

  a,
  a:visited {
    color: $background;
  }
}

@media screen and (max-width: 567px) {
  #site-navigation ul {
    color: $background;
  }

  #site-navigation {
    background-color: $menu;
    color: $background;

    a,
    a:visited {
      color: $background;
    }
  }
}


//  VI. Footnotes  */

a[rel="footnote"] {
  background-color: $footnote-bg;
  color: $footnote-fg;
}

a[rev="footnote"] {
  color: $footnote-bg;
}

.footnotes {
  color: $minor;
}
