/*  Colour
 *
 *  The default colour scheme.
 *
 *  Contents (same section numbers as `main.scss`)
 *  ========
 *
 *  0.      Colour definitions
 *  I.      Default text
 *  II.     n/a
 *  III.    Images
 *  IV.     Site header
 *  V.      n/a
 *  VI.     Footnotes
 *  VII.    Experimental
 *
 */

/*  0. Colour definitions  */

$Background: #FFFFFF;
$Foreground: #302E2C;

$Header-Background: #302E2C;
$Header-Foreground: #F6F3EF;

$Primary: #0087BD;
$Secondary: #009F6B;
$Accent: #833F87;

$Minor-Foreground: #7E7C79;
$Minor-Primary: #47ADD3;


/*  I. Default text  */

body {
    background-color: $Background;
    color: $Foreground;
}

h1, h2 {
    color: $Primary;
}

a {
    color: $Primary;
}

a:hover {
    color: $Secondary;
}

a:visited {
    color: $Accent;
}

a:after {
    color: $Minor-Foreground;
}

.details { // @extended by address, pre, blockquote 
    border-left: 20px solid #EBEAE7;
    background-color: #F6F5F1;
}



/*  III. Images  */

figcaption {
    background-color: $Header-Background;
    color: $Header-Foreground;
}

figcaption a, figcaption a:visited {
    color: $Minor-Primary;
}

.thumbnail {
    border-color: $Minor-Foreground;
}


/*  IV. Site header  */

.site-header {
    background-color: $Header-Background;
    color: $Header-Foreground;
    a, a:visited {
        color: $Header-Foreground;
    }
}

#site-navigation {
    background-color: $Background;
    color: $Primary;
    a, a:visited {
        color: $Primary;
    }
}

#site-navigation .current-menu-item, #site-navigation li:hover {
    background-color: $Primary;
    color: $Background;
    a, a:visited {
        color: $Background;
    }
}

@media screen and (max-width: 567px) {
    #site-navigation {
        background-color: $Primary;
        color: $Background;
        a, a:visited {
            color: $Background;
        }
    }
}


/*  VI. Footnotes  */
a[rel="footnote"] {
    background-color: $Secondary;
    color: $Header-Foreground;
}

a[rel="footnote"]:visited {
    background-color: $Accent;
}

a[rev="footnote"] {
    color: $Secondary;
}

.footnotes {
    color: $Minor-Foreground;
}


/* VII. Experimental */


.pin-tag, .category-link {
    color: $Secondary;
}