//  Colour
//
//  The default colour scheme.
//
//  Contents (same section numbers as `main.scss`)
//  ========
//
//  I.    Text
//  II.   Blocks
//  III.  Images and figures
//  IV.   Site structure
//  V.    Footnotes
//

@import 'local_settings.scss'

//  I. Default text
//
//  Define default text and headline colours, and colours for inline tags
//
//

body {
  background-color: $background;
  color: $foreground;
}

h1,
h2,
h3 {
  color: $headlines;
}

a,
a:visited {
  color: $links;
}

a:hover {
  color: $links-hover;
}

a:after {
  color: $minor;
}

h1 a,
h1 a:visited {
  color: $headlines;
}

code {
  background-color: $block-bg;
}


//  II. Blocks
//
//  Define colours for basic block tags, including pre, lists, blockquote
//
//

%gutterblock {
  border-color: $block-border;
  background-color: $block-bg;
  color: $block-fg;
}

aside,
blockquote,
address,
pre {
  @extend %gutterblock;
}

hr {
  border-color: $hr;
}


//  III. Images and figures
//
//  Define default colours for picture borders and backgrounds
//
//

figcaption {
  background-color: $header-bg;
  color: $header-fg;
}


//  IV. Site structure
//
//  Define colours for the title banner and main content
//
//

.site-header {
  background-color: $header-bg;
  color: $header-fg;

  a,
  a:visited,
  a h1 {
    color: $header-fg;
  }
}

#site-navigation {
  a,
  a:visited {
    color: $header-fg;
  }

  .current-menu-item {
    background-color: $menu-bg;
    color: $menu-fg;

    a,
    a:visited {
      color: $menu-fg;
    }
  }

  @media screen and (max-width: 567px) {
    background-color: $menu-bg;
    color: $menu-fg;

    a,
    a:visited {
      color: $menu-fg;
    }
  }
}

footer {
  color: $minor;

  a,
  a:visited,
  a:hover {
    color: $minor;
  }
}


//  V. Footnotes
//
//  Define colours for the Markdown footnote extension.
//
//

a[rel="footnote"] {
  background-color: $footnote-bg;
  color: $footnote-fg;
}

a[rev="footnote"] {
  color: $footnote-bg;
}

.footnotes {
  color: $minor;
}


//  VI. Site specific styles
//
//

