//  Local settings
//  ==============
//
//  Provides easily-tweakable constants to customize the look and feel.
//
//  Contents
//  --------
//  I.    Text
//  II.   Site structure
//  III.  Colours
//

//  I. Text
//
//  Customize the typeface and font sizes.
//

$headline-type: "Avenir Next Condensed", Avenir, Trebuchet, sans-serif;
$body-type: "Avenir Next", Avenir, Trebuchet, sans-serif;
$code-type: Inconsolata, monospace;

$huge:   2.25rem;
$large:   1.5rem;
$default:  large;
$tiny:     .5rem;


//  II. Site structure
//
//  Set the width of the main body on large screens.
//

$max-width: 840px;


//  III. Colours
//
//  Set the colour scheme.
//
//  Be sure to choose colours with readable contrast ratios.
//  The foreground-background pairs that need to be tested are:
//
//    - $foreground  on $background
//    - $headlines   on $background
//    - $links       on $background
//    - $links-hover on $background
//    - $minor       on $background
//    - $minor-links on $background
//
//    - $header-fg   on $header-bg
//    - $block-fg    on $block-bg
//    - $menu-fg     on $menu-bg
//    - $footnote-fg on $footnote-bg
//
//

$background:   #ffffff;
$foreground:   #474f59;
$headlines:    #0087bd;
$links:        #16a777;
$links-hover:  #b04c9c;
$minor:        #a6adb8;
$minor-links:  #a6adb8;

$header-bg:    #2a3038;
$header-fg:    #ffffff;

$block-bg:     #f5f7fc;
$block-fg:     #474f59;
$block-border: #d1d3dc;

$menu-bg:      #0087bd;
$menu-fg:      #ffffff;

$footnote-bg:  #16a777;
$footnote-fg:  #ffffff;

$hr:           #f5f7fc;
