//  Local settings
//  ==============
//
//  Provides easily-tweakable constants to customize the look and feel.
//
//  Contents
//  --------
//  I.    Text
//  II.   Site structure
//  III.  Colours
//

//  I. Text
//
//  Customize the typeface and font sizes.
//

$headline-type: 'Avenir Next Condensed', Avenir, Trebuchet, sans-serif;
$body-type: 'Avenir Next', Avenir, Trebuchet, sans-serif;
$code-type: Inconsolata, monospace;

$huge:   2.25rem;
$large:   1.5rem;
$default:  large;
$tiny:     .5rem;


//  II. Site structure
//
//  Set the width of the main body on large screens.
//

$max-width: 800px;


//  III. Colours
//
//  Set the colour scheme.
//
//  Be sure to choose colours with readable contrast ratios.
//  The foreground-background pairs that need to be tested are:
//
//    - $foreground  on $background
//    - $headlines   on $background
//    - $links       on $background
//    - $links-hover on $background
//    - $minor       on $background
//    - $minor-links on $background
//
//    - $header-fg   on $header-bg
//    - $block-fg    on $block-bg
//    - $menu-fg     on $menu-bg
//    - $footnote-fg on $footnote-bg
//
//

$background:   #fff;
$foreground:   #2b303a;
$headlines:    #0087bd;
$links:        #08965d;
$links-hover:  #c03054;
$minor:        #a7adba;
$minor-links:  #60c7c4;

$header-bg:    #2b303a;
$header-fg:    #fff;

$block-bg:     #eff1f5;
$block-fg:     #4f5b66;
$block-border: #dadde5;

$menu-bg:      #0087bd;
$menu-fg:      #fff;

$footnote-bg:  #0087bd;
$footnote-fg:  #fff;

$hr:           #dadde5;
