//  Main Stylesheet
//  ===============
//
//  The main layout and typographic styles.
//
//  Contents
//  --------
//  I.    Text
//  II.   Blocks
//  III.  Images and figures
//        a   Default images
//        b   Figure classes
//  IV.   Site structure
//        a   Header
//        b   Responsive navigation
//        c   Main
//        d   Footer
//  V.    Footnotes
//  VI.   Colours
//  VII.  Site-specific styles
//

@import "reset.scss";
@import "local_settings.scss";

//  I. Default text
//
//  Default text and headline styles, and styles for inline tags
//
//

body {
  font-family: $body-type;
  font-size: $default;
  text-rendering: optimizeLegibility;
}

header {
  font-family: $headline-type;
}

footer {
  font-size: small;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $headline-type;
  line-height: 1.2;
  margin-bottom: 10px;
}

h1 {
  font-size: $huge;
  margin-top: 30px;
}

h2 {
  font-size: $large;
  margin-top: 20px;
}

h3 {
  margin-top: 20px;
}

th {
  font-family: $headline-type;
  font-size: $default;
}

p,
figcaption {
  line-height: 1.4;
  margin-bottom: 10px;
}

sup,
sub {
  font-size: $tiny;
}

code {
  font-family: $code-type;
  padding: 2px 5px;
}


//  II. Blocks
//
//  Styles for basic block tags, including pre, lists, and blockquote.
//
//

%gutterblock {
  border-left-style: solid;
  border-left-width: 20px;
  clear: both;
  margin-bottom: 10px;
  padding: 10px 20px;

  p:last-child {
    margin-bottom: 0;
  }

  @media screen and (max-width: 567px) {
    margin-left: -20px;
    max-width: calc(100% + 40px);
    width: calc(100% + 40px);
  }
}

aside,
blockquote,
pre {
  @extend %gutterblock;
}

pre {
  line-height: 1.2;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
}

ol,
ul {
  line-height: 1.4;
  margin-bottom: 10px;
  margin-left: 0;
  padding-left: 20px;

  li {
    margin-bottom: 5px;
    position: relative;

    p {
      margin-bottom: 5px;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  li:last-child {
    margin-bottom: 0;
  }
}

hr {
  border-style: solid;
  border-width: thin;
  clear: both;
  margin: 20px 0;
}


//  III. Images and figures
//
//  Default styles for displaying pictures.
//
//

// IIIa. Images

%smallcircle {
  border: 2px solid;
  border-radius: 27px;
  height: 54px;
  width: 54px;
}

img,
figcaption {
  height: auto;
  max-width: 100%;
  width: 100%;
}


// IIIb. Figures

%fullwidth-mobile {
  @media screen and (max-width: 567px) {
    margin-left: -20px;
    margin-right: -20px;
    max-width: calc(100% + 40px);
    width: calc(100% + 40px);
  }
}

%fullwidth-widescreen {
  @media screen and (min-width: 568px) {
    float: none;
    max-width: 100%;
    width: 100%;
  }
}

%halfwidth-widescreen {
  @media screen and (min-width: 568px) {
    max-width: 50%;
    width: 50%;
  }
}

@mixin floatleft {
  float: left;
  margin-left: 0;
  margin-right: 20px;

  & + h1,
  & + h2,
  & + h3 {
    margin-top: 0;
  }
}

@mixin floatright {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

figure {
  margin-bottom: 10px;
}

figcaption {
  padding: 5px;
  text-align: center;
}

.banner {
  @extend %fullwidth-mobile;
  @extend %fullwidth-widescreen;
}

@media screen and (max-width: 567px) {
  main > .banner,
  article:first-child .banner {
    margin-top: -20px;
  }
}

.illustration {
  @extend %fullwidth-mobile;
  @extend %halfwidth-widescreen;
  margin-bottom: 10px;

  @media screen and (min-width: 568px) {
    @include floatleft;
  }
}

.left {
  @media screen and (min-width: 568px) {
    @include floatleft;
  }
}

.right {
  @media screen and (min-width: 568px) {
    @include floatright;
  }
}


//  IV. Site structure
//
//  Styles for the title banner and main content.
//
//

//  IVa. Header

.site-header div {
  max-width: $max-width;
  margin: 0 auto;

  @media screen and (min-width: 568px) {
    padding: 10px 20px;
  }

  * {
    display: inline-block;
    vertical-align: middle;
  }
}

.site-title {
  width: 60%;

  @media screen and (max-width: 567px) {
    padding: 10px 10px 10px 20px;
    width: calc(100% - 55px);
  }

  img {
    @extend %smallcircle;
    margin-right: 20px;

    @media screen and (max-width: 567px) {
      display: none;
    }
  }

  h1 {
    margin: 0;
  }
}

//  IVb. Responsive navigation

#site-navigation {
  width: 40%;
  text-align: right;

  @media screen and (max-width: 567px) {
    display: block;
    width: 100%;
  }

  a {
    display: inline-block;
    padding: 10px 3%;

    @media screen and (min-width: 568px) {
      border-radius: 5px;
    }

    @media screen and (max-width: 567px) {
      border-top: 1px solid;
      display: block;
      float: left;
      padding: 20px;
      text-align: center;
      width: 50%;
    }
  }
}

label.show-navigation {
  display: inline-block;
  font-size: $huge;
  line-height: 1.2;
  padding: 15px 0;
  text-align: center;
  width: 50px;

  @media screen and (min-width: 568px) {
    display: none;
  }
}

#show-navigation {
  display: none;
}

#show-navigation:not(:checked) + #site-navigation {
  @media screen and (max-width: 567px) {
    display: none;
  }
}

//  IVc. Main

main {
  margin: 30px auto 50px;
  max-width: $max-width;
  padding: 0 20px;

  @media screen and (max-width: 567px) {
    margin: 20px auto;
  }
}


//  IVd. Footer

footer {
  text-align: center;
}


//  V. Footnotes
//
//  Styles for footnote markers.
//
//

.footnotes {
  font-size: small;
}

sup[id^="fnref"] {
  top: 0;
  vertical-align: bottom;
}

a[rel="footnote"] {
  font-size: small;
}

a[rel="footnote"],
a[rev="footnote"] {
  border-radius: 7px;
  display: inline-block;
  line-height: 1;
  min-width: 19px;
  padding: 3px 1px 2px 1px;
  text-align: center;
  text-decoration: none;
  vertical-align: text-bottom;
}

a[rel="footnote"]:hover,
a[rev="footnote"]:hover {
  text-decoration: none;
}


//  VI.  Colours
//  VII. Site-specific styles
//
//  Import colour scheme and custom styles from their respective files.
//
//

@import "colour.scss";
@import "local_styles.scss";
