/*  Colour
 *
 *  The default colour scheme.
 *
 *  @package    WordPress
 *  @subpackage Copernicus
 *  @since      Copernicus 2.0
 *
 */

$Background: #F6F3EF;
$Foreground: #302E2C;

$Header-Background: #302E2C;
$Header-Foreground: #F6F3EF;

$Primary: #0087BD;
$Secondary: #009F6B;
$Accent: #833F87;

$Minor-Foreground: #7E7C79;
$Minor-Primary: #47ADD3;
$Minor-Secondary: #55C496;
$Minor-Accent: #FCB7B7;


/*  Default text
 *
 *  Styles for plain text and basic HTML tags.
 *
 */

body {
    background-color: $Background;
    color: $Foreground;
}

h1, h2, h1 a, h1 a:visited {
    color: $Primary;
}

a, a:visited {
    color: $Primary;
}

a:visited{
    color: $Accent;
}

a[href$=".tex"], a[href$=".pdf"], a[href$=".zip"], a[href$=".gz"] {
    &:after{
        color: $Secondary;
    }
}


/*  Default images
 *
 *  Styles for img tags and their common WordPress-added classes.
 *
 */

figcaption {
    background-color: $Header-Background;
    color: $Header-Foreground;
}

figcaption a, figcaption a:visited {
    color: $Minor-Primary;
}


/*  Site header
 *
 *  Styles for the main banner at the top of every page.
 *
 */

#site-header {
    background-color: $Header-Background;
    color: $Header-Foreground;
    a, a:visited {color: $Header-Foreground;}
}

#site-navigation {
    background-color: $Background;
    color: $Primary;
    a, a:visited {color: $Primary;}
}

#site-navigation .current_page_item {
    color: $Header-Foreground;
    a, a:visited {color: $Header-Foreground;}
    background-color: $Primary;
}

@media screen and (max-width: 567px) {
    #site-navigation {
        background-color: $Primary;
        color: $Background;
        a, a:visited {color: $Background;}
    }
}


/*  Posts
 *
 *  Styles for individual post formats and features which override the
 *  default behaviours.
 *
 */

.external-link:after {
    color: $Secondary;
}


/*  Footnotes
 *
 *  Styles for footnotes provided by the WP Markdown on Save Improved and
 *  JetPack plugins.
 *
 *  @since      Copernicus 2.0
 *
 */

sup[id^="fnref"] {
    background-color: $Secondary;
    a {color: $Header-Foreground;}
}

sup[id^="fnref"]:visited {
    background-color: $Accent;
}

.footnotes {
    color: $Minor-Foreground;
}

.footnotes li:before {
    background-color: $Minor-Foreground;
    color: $Header-Foreground;
}

a[rev="footnote"], a[rev="footnote"]:visited {
    color: $Secondary;
}

.post-meta {
    li:before {
        color: $Secondary;
    }
}

footer {
    color: $Minor-Foreground;
    a, a:visited {
        color: $Minor-Primary;
    }
    a:visited {
        color: $Minor-Accent;
    }
}


/*  Site footer
 *
 *  Styles for pagination at the bottom of archive-type pages.
 *
 */

.site-pagination a, .pagination a:visited {
    color: $Secondary;
}

.site-pagination .current {
    color: $Header-Foreground;
    background-color: $Secondary;
}
