/*  Colour
 *
 *  The default colour scheme.
 *
 *  @package    WordPress
 *  @subpackage Copernicus
 *  @since      Copernicus 2.0
 *
 */
/*  Default text
 *
 *  Styles for plain text and basic HTML tags.
 *
 */
body {
  background-color: #f6f3ef;
  color: #302e2c; }

h1, h2, h1 a, h1 a:visited {
  color: #0087bd; }

a, a:visited {
  color: #0087bd; }

a:visited {
  color: #833f87; }

a[href$=".tex"]:after, a[href$=".pdf"]:after, a[href$=".zip"]:after, a[href$=".gz"]:after {
  color: #009f6b; }

/*  Default images
 *
 *  Styles for img tags and their common WordPress-added classes.
 *
 */
figcaption {
  background-color: #302e2c;
  color: #f6f3ef; }

figcaption a, figcaption a:visited {
  color: #47add3; }

/*  Site header
 *
 *  Styles for the main banner at the top of every page.
 *
 */
#site-header {
  background-color: #302e2c;
  color: #f6f3ef; }
  #site-header a, #site-header a:visited {
    color: #f6f3ef; }

#site-navigation {
  background-color: #f6f3ef;
  color: #0087bd; }
  #site-navigation a, #site-navigation a:visited {
    color: #0087bd; }

#site-navigation .current_page_item {
  color: #f6f3ef;
  background-color: #0087bd; }
  #site-navigation .current_page_item a, #site-navigation .current_page_item a:visited {
    color: #f6f3ef; }

@media screen and (max-width: 567px) {
  #site-navigation {
    background-color: #0087bd;
    color: #f6f3ef; }
    #site-navigation a, #site-navigation a:visited {
      color: #f6f3ef; } }
/*  Posts
 *
 *  Styles for individual post formats and features which override the
 *  default behaviours.
 *
 */
.external-link:after {
  color: #009f6b; }

/*  Footnotes
 *
 *  Styles for footnotes provided by the WP Markdown on Save Improved and
 *  JetPack plugins.
 *
 *  @since      Copernicus 2.0
 *
 */
sup[id^="fnref"] {
  background-color: #009f6b; }
  sup[id^="fnref"] a {
    color: #f6f3ef; }

sup[id^="fnref"]:visited {
  background-color: #833f87; }

.footnotes {
  color: #7e7c79; }

.footnotes li:before {
  background-color: #7e7c79;
  color: #f6f3ef; }

a[rev="footnote"], a[rev="footnote"]:visited {
  color: #009f6b; }

.post-meta li:before {
  color: #009f6b; }

footer {
  color: #7e7c79; }
  footer a, footer a:visited {
    color: #47add3; }
  footer a:visited {
    color: #fcb7b7; }

/*  Site footer
 *
 *  Styles for pagination at the bottom of archive-type pages.
 *
 */
.site-pagination a, .pagination a:visited {
  color: #009f6b; }

.site-pagination .current {
  color: #f6f3ef;
  background-color: #009f6b; }
