/*  Main Stylesheet
 *
 *  Defines the main layout and typographic styles (excluding colours).
 *
 *  @package    WordPress
 *  @subpackage Copernicus
 *  @since      Copernicus 2.0
 *
 */

@import 'reset.scss';
@import 'icomoon.scss';

$Typeface-Headline: "Avenir Next", Avenir, Trebuchet, sans-serif;
$Typeface-Body: "Avenir Next", Avenir, Trebuchet, sans-serif;
$Code-Body: Inconsolata, monospace;

$Fontsize-Huge: 30px;
$Fontsize-Large: 20px;
$Fontsize-Default: 16px;
$Fontsize-Small: 14px;
$Fontsize-Tiny: 12px;


/*  Default text
 *
 *  Styles for plain text and basic HTML tags.
 *
 */

body {
    font-size: $Fontsize-Default;
    font-family: $Typeface-Body;
    text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: $Typeface-Headline;
    line-height: 1.2;
}

h1 {
    font-size: $Fontsize-Huge;
}

h2 {
    font-size: $Fontsize-Large;
}

p {
    margin-bottom: 10px;
    line-height: 1.4;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a[href$=".tex"], a[href$=".pdf"], a[href$=".zip"], a[href$=".gz"] {
    &:after{
        margin-left: 5px;
        margin-right: 10px;
        width: 40px;
        text-transform: none;
        font-weight: normal;
        font-style: normal;
        font-variant: normal;
        font-size: $Fontsize-Default;
        font-family: 'icomoon';
        line-height: 1;
        speak: none;
    }
}

a[href$=".tex"]:after {
    content: "\e603";
}

a[href$=".pdf"]:after {
    content: "\e600";
}

a[href$=".zip"]:after, a[href$=".gz"]:after {
    content: "\e601";
}

ul, ol, dl {
    margin-bottom: 10px;
    line-height: 1.4;
}

li, dt, dd {
    margin-bottom: 5px;
}

ul, ol, dd {
    margin-left: 20px;
}

strong, b {
    font-weight: bold;
}

em, i {
    font-style: italic;
}

sup, sub {
    position: relative;
    vertical-align: baseline;
    font-size: $Fontsize-Small;
}

sup {
    top: -0.4em;
}

sub {
    top:  0.4em;
}

blockquote {
    padding-left: 20px;
}

code {
    font-family: $Code-Body;
}


/*  Default blocks
 *
 *  Styles for basic block-level tags, including the main content wrapper.
 *
 */

main {
    margin: 0 auto 50px auto;
    padding: 0 20px;
    max-width: 40em;
}

main footer {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid;
    font-size: $Fontsize-Small;
}

article:not(:last-child) {
    margin-bottom: 20px;
}


/*  Default images
 *
 *  Styles for img tags and their common WordPress-added classes.
 *
 */

img {
    max-width: 100%;
    height: auto;
}

.aligncenter {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

@media screen and (max-width: 567px) {
    img, .alignleft, .alignright, figcaption {
        display: block;
        margin-bottom: 10px;
        margin-left: -20px;
        max-width: calc(100% + 40px);
        width: calc(100% + 40px);
    }

    figure img {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 568px) {
    .alignleft {
        float: left;
        margin-right: 20px;
        margin-bottom: 10px;
        max-width: 50%;
    }

    .alignright {
        float:right;
        margin-bottom: 10px;
        margin-left: 20px;
        max-width: 50%;
    }
}

.thumbnail {
    float: left;
    margin-right: 15px;
    margin-left: 0;
    width: 75px;
    height: 75px;
    border-radius: 5px;
    border: 1px solid;
}

/*  Site header
 *
 *  Styles for the main banner at the top of every page.
 *
 */

#site-header {
    margin-bottom: 20px;
    text-align: center;

    img {
        margin-top: 15px;
        width: 50px;
        height: 50px;
        border-radius: 5px;
    }

    h1 {
        margin-top: 10px;
        margin-bottom: 15px;
    }
}

#site-navigation {
    padding: 0;
    border-top: 3px solid;

    ul, li {
        margin: 0;
        padding: 0;
    }

    li {
        display: inline-block;
    }

    a {
        display: inline-block;
        padding: 10px 20px;
    }
}

@media screen and (max-width: 567px) {
    #site-header {
        text-align: left;

        img {
            display: none;
        }

        h1 {
            margin: 0;
       
            a {
                float: left;
                padding: 15px 20px;
                width: calc(100% - 70px);
            }
        }
    }

    .nav-toggle {
        display: inline-block;
        padding: 15px 0;
        width: 70px;
        height: 66px;
        border-left: 1px solid;
        text-align: center;
        font-size: $Fontsize-Huge;
    }

    #site-navigation {
        li, a {
            display: block;
            width: 100%;
        }

        li:not(:last-child) {
            border-bottom: 1px solid;
        }
    }
}


/*  Responsive navigation
 *
 *  Styles for the main navigation menu appearing in the title banner on small
 *  screens.
 *
 *  @since      Copernicus 2.0
 *
 */

.nav-collapse {
    clear: both;
}

.nav-collapse ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
}

.js .nav-collapse {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: block;
    overflow: hidden;
    zoom: 1;
}

.nav-collapse.opened {
    max-height: 9999px;
}

.nav-collapse.disable-pointer-events {
    pointer-events: none !important;
}

.nav-toggle {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media screen and (min-width: 568px) {
    .js .nav-collapse {
        position: relative;
    }

    .js .nav-collapse.closed {
        max-height: none;
    }

    .nav-toggle {
        display: none;
    }
}


/*  Posts
 *
 *  Styles for individual post formats and features which override the
 *  default behaviours.
 *
 */

.external-link:after {
    margin-left: 20px;
    width: 40px;
    content: "\e609";
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-size: $Fontsize-Default;
    font-family: 'icomoon';
    line-height: 1;
    speak: none;
}

.format-image figcaption {
    padding: 10px;
    text-align: center;
    p {margin: 0;}
}


/*  Footnotes
.subcategories {
    list-style: none;
    margin-left: 0;
    text-align: center;
    li {
        display: inline-block;
        margin: 5px 10px;
    }
}
 *
 *  Styles for footnotes provided by the WP Markdown on Save Improved and
 *  JetPack plugins.
 *
 *  @since      Copernicus 2.0
 *
 */

sup[id^="fnref"] {
    top: 0;
    margin: 0 5px;
}

sup[id^="fnref"] a:hover {
    text-decoration: none;
}

sup[id^="fnref"], .footnotes li:before {
    display: inline-block;
    padding: 1px 3px;
    min-width: 19px;
    border-radius: 7px;
    text-align: center;
}

.footnotes {
    margin-top: 20px;
}

.footnotes ol {
    margin-left: 40px;/* Remove the default left margin */
    list-style: none;
    counter-reset: li;
}

.footnotes li {
    position: relative;
    list-style: none;
}

.footnotes li:before {
    position: absolute;
    left: -41px;
    content: counter(li);
    counter-increment: li;
}


/*  Post meta
 *
 *  Styles for post metadata displayed on the bottom of single posts.
 *
 *  @since      Copernicus 2.0
 *
 */

.post-meta ul {
    margin-left: 0;
    list-style: none;

    li {
        margin-right: 20px;
        margin-bottom: 10px;
        vertical-align: top;
        @media screen and (min-width: 568px) {
            display: inline-block;
            width: calc( 50% - 0.5em - 20px);
        }
    }

    li:before {
        margin-right: 10px;
        width: 40px;
        text-transform: none;
        font-weight: normal;
        font-style: normal;
        font-variant: normal;
        font-family: 'icomoon';
        line-height: 1;
        speak: none;
    }

    .author:before {
        content: "\e615";
    }

    .posted:before {
        content: "\e60e";
    }

    .updated:before {
        content: "\e61a";
    }

    .categories:before {
        content: "\e60c";
    }

    .tags:before {
        content: "\e616";
    }

    .credits:before {
        content: "\e619";
    }

    .photo-credits:before {
        content: "\e612";
    }
}


/*  Site footer
 *
 *  Styles for pagination at the bottom of archive-type pages.
 *
 */

.site-pagination {
    margin-bottom: 30px;
    text-align: center;
}

.site-pagination .current {
    display: inline-block;
    padding: 3px;
    border-radius: 3px;
    min-width: 19px;
}

.page-numbers {
    padding: 10px;
}


/*  404
 *
 *  Special styles for error pages.
 *
 */

.not-found {
    text-align: center;

    h1 {
        font-size: 50px;
        margin: 40px 0;
    }
}

.search-submit {
    background: none;
    margin-left: 20px;
    font-size: $Fontsize-Default;
    font-family: 'icomoon';
    line-height: 1;
    speak: none;
    cursor: pointer;
} 
