/*  Main Stylesheet
 *
 *  Defines the main layout and typographic styles (excluding colours).
 *
 *  @package    WordPress
 *  @subpackage Copernicus
 *  @since      Copernicus 2.0
 *
 *  Contents
 *  ========
 *
 *  I.      Default text
 *  II.     Default blocks
 *  III.    Images
 *  IV.     Site header
 *  V.      Responsive menu
 *  VI.     Posts and archives
 *  VII.    Footnotes
 *  VIII.   Post meta
 *  IX.     Pagination
 *  X.      404
 *
 */

@import 'reset.scss';
@import 'icomoon.scss';

$Typeface-Headline: "Avenir Next Condensed", Avenir, Trebuchet, sans-serif;
$Typeface-Body: "Avenir Next", Avenir, Trebuchet, sans-serif;
$Code-Body: Inconsolata, monospace;

$Fontsize-Huge: 30px;
$Fontsize-LARGE: 25px;
$Fontsize-Large: 20px;
$Fontsize-Default: 16px;
$Fontsize-Small: 14px;
$Fontsize-Tiny: 12px;


/*  I. Default text
 *
 *  Define default text and headline styles, and styles for the following basic
 *  "text-level" tags:
 *  a, ul, ol, dl, blockquote, code.
 */

body {
    font-size: $Fontsize-Default;
    font-family: $Typeface-Body;
    text-rendering: optimizeLegibility;
}

header {
    font-family: $Typeface-Headline;
}

h1, h2, h3, h4, h5 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: $Typeface-Headline;
    line-height: 1.2;
}

h1 {
    font-size: $Fontsize-Huge;
}

h2 {
    font-size: $Fontsize-LARGE;
}

th {
    font-size: $Fontsize-Large;
    font-family: $Typeface-Headline;
}

p {
    margin-bottom: 10px;
    line-height: 1.4;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.external-link:after {
    content: "\e609";
}

h1 a:hover, h2 a:hover, h3 a:hover, header a:hover {
    text-decoration: none;
}

a[href$=".tex"], a[href$=".pdf"], a[href$=".zip"], a[href$=".gz"], .external-link {
    &:after{
        margin-right: 10px;
        margin-left: 5px;
        width: 40px;
        text-transform: none;
        font-weight: normal;
        font-style: normal;
        font-variant: normal;
        font-size: $Fontsize-Default;
        font-family: 'icomoon';
        line-height: 1;
        speak: none;
    }
}

a[href$=".tex"]:after {
    content: "\e603";
}

a[href$=".pdf"]:after {
    content: "\e600";
}

a[href$=".zip"]:after, a[href$=".gz"]:after {
    content: "\e601";
}

ul, ol, dl {
    margin-bottom: 10px;
    line-height: 1.4;
}

li, dt, dd {
    margin-bottom: 5px;
}

ul, ol, dd {
    margin-left: 20px;
}

strong, b {
    font-weight: bold;
}

em, i {
    font-style: italic;
}

sup, sub {
    position: relative;
    vertical-align: baseline;
    font-size: $Fontsize-Small;
}

sup {
    top: -0.4em;
}

sub {
    top:  0.4em;
}

blockquote {
    padding-left: 20px;
}

code {
    font-family: $Code-Body;
}


/*  II. Default blocks
 *
 *  Define styles for basic "block-level" tags: the main content wrapper and 
 *  the article tags displayed on archive pages.
 *
 */

main {
    margin: 0 auto 50px auto;
    padding: 0 20px;
    max-width: 40em;
}

main footer {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid;
    font-size: $Fontsize-Small;
}

article:not(:last-child) {
    margin-bottom: 20px;
}


/*  III. Images
 *
 *  Define default image styles. In addition to the img and figure tags, there
 *  are several options for classes.
 *
 *  WordPress image classes
 *  :   .aligncenter, .alignleft, .alignright
 *
 *  Copernicus image classes
 *  :   .thumbnail, .banner
 *
 */

img, figure, figcaption {
    max-width: 100%;
    height: auto;
}

@media screen and (min-width: 568px) {
    .aligncenter {
        display: block;
        margin-bottom: 10px;
        width: 100%;
    }

    .alignleft {
        float: left;
        margin-right: 20px;
        margin-bottom: 10px;
        max-width: 50%;
    }

    .alignright {
        float:right;
        margin-bottom: 10px;
        margin-left: 20px;
        max-width: 50%;
    }
}

@media screen and (max-width: 567px) {
    img, figure, figcaption, .aligncenter, .alignleft, .alignright {
        display: block;
        margin-bottom: 10px;
        margin-left: -20px;
        max-width: calc(100% + 40px);
        width: calc(100% + 40px);
    }

    figure img {
        margin-bottom: 0;
    }
}

.thumbnail {
    float: left;
    margin-right: 15px;
    margin-left: 0;
    width: 75px;
    height: 75px;
    border: 1px solid;
    border-radius: 5px;
}

@media screen and (max-width: 567px) {
    // The banner should nestle up to the title/menu bar on small screens
    main > .banner:first-child, .format-image img {
        margin-top: -20px;
    }
}


/*  IV. Site header
 *
 *  Display the title banner at the top of every page.
 *
 */

.site-header {
    margin-bottom: 20px;
    text-align: center;

    img {
        margin-top: 15px;
        width: 50px;
        height: 50px;
        border-radius: 5px;
    }

    h1 {
        margin-top: 10px;
        margin-bottom: 15px;
    }
}

#site-navigation {
    padding: 0;
    border-top: 3px solid;

    ul, li {
        margin: 0;
        padding: 0;
    }

    li {
        display: inline-block;
    }

    a {
        display: inline-block;
        padding: 10px 20px;
    }
}

@media screen and (max-width: 567px) {
    .site-header {
        text-align: left;

        img {
            display: none;
        }

        h1 {
            margin: 0;
       
            a {
                float: left;
                padding: 15px 20px;
                width: calc(100% - 50px);
            }
        }
    }

    .nav-toggle {
        display: inline-block;
        padding: 15px 0;
        width: 50px;
        height: 66px;
        text-align: center;
        font-size: $Fontsize-Huge;
    }

    #site-navigation {
        border-top: 0;

        li, a {
            display: block;
            width: 100%;
        }

        li:not(:last-child) {
            border-bottom: 1px solid;
        }
    }
}


/*  V. Responsive navigation
 *
 *  Display the main navigation menu appearing in the title banner on small
 *  screens.
 *
 *  @since Copernicus 2.0
 *
 */

.nav-collapse {
    clear: both;
}

.nav-collapse ul {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
}

.js .nav-collapse {
    position: absolute;
    display: block;
    overflow: hidden;
    clip: rect(0 0 0 0);
    max-height: 0;
    zoom: 1;
}

.nav-collapse.opened {
    max-height: 9999px;
}

.nav-collapse.disable-pointer-events {
    pointer-events: none !important;
}

.nav-toggle {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media screen and (min-width: 568px) {
    .js .nav-collapse {
        position: relative;
    }

    .js .nav-collapse.closed {
        max-height: none;
    }

    .nav-toggle {
        display: none;
    }
}


/*  VI. Posts and archives
 *
 *  Define styles for displaying single posts and list-style archive pages.
 *  Includes styles unique to particular post formats.
 *
 */

.format-image figcaption {
    padding: 10px;
    text-align: center;
    p {margin: 0;}
}

.format-image + .post-meta {
    border-top: none;
}

// Section III contains a rule causing .format-image to get margin-top: -20px 
// on small screens.

.listed article h1, .listed article h2 {
    margin-top: 0;
    font-size: $Fontsize-Large;
}

.subcategories {
    margin-left: 0;
    list-style: none;
    text-align: center;
    li {
        display: inline-block;
        margin: 5px 10px;
    }
}


/*  VII. Footnotes
 *
 *  Define styles for footnotes. Assumes the syntax provided by the WP Markdown
 *  on Save Improved plugin.
 *
 *  @since      Copernicus 2.0
 *
 */

sup[id^="fnref"] {
    top: 0;
    margin: 0 5px 0 2px;
}

a[href^="#fn-"] {
    text-decoration: none;
}

a[href^="#fn-"], .footnotes li:before {
    display: inline-block;
    padding: 1px 3px;
    min-width: 19px;
    border-radius: 7px;
    text-align: center;
}

.footnotes {
    margin-top: 20px;
    font-size: $Fontsize-Tiny;
}

.footnotes ol {
    margin-left: 40px;/* Remove the default left margin */
    list-style: none;
    counter-reset: li;
}

.footnotes li {
    position: relative;
    list-style: none;
}

.footnotes li:before {
    position: absolute;
    left: -41px;
    content: counter(li);
    counter-increment: li;
}


/*  VIII. Post meta
 *
 *  Define styles for post metadata displayed on the bottom of single posts.
 *  Supported fields:
 *
 *  .posted
 *  .updated
 *  .categories
 *  .tags
 *  .credits
 *  .photo-credits
 *
 *  @since      Copernicus 2.0
 *
 */

.post-meta ul {
    margin-left: 0;
    list-style: none;

    li {
        margin-right: 20px;
        margin-bottom: 10px;
        vertical-align: top;
        @media screen and (min-width: 568px) {
            display: inline-block;
            width: calc( 50% - 0.5em - 20px);
        }
    }

    li:before {
        margin-right: 10px;
        width: 40px;
        text-transform: none;
        font-weight: normal;
        font-style: normal;
        font-variant: normal;
        font-family: 'icomoon';
        line-height: 1;
        speak: none;
    }

    .posted:before {
        content: "\e60e";
    }

    .updated:before {
        content: "\e61a";
    }

    .categories:before {
        content: "\e60c";
    }

    .tags:before {
        content: "\e616";
    }

    .credits:before {
        content: "\e619";
    }

    .photo-credits:before {
        content: "\e612";
    }
}


/*  IX. Pagination
 *
 *  Define styles for pagination at the bottom of archive pages.
 *
 */

.site-pagination {
    margin-bottom: 30px;
    text-align: center;
}

.site-pagination .current {
    display: inline-block;
    margin: 7px;
    padding: 3px;
    min-width: 19px;
    border-radius: 3px;
}

.page-numbers {
    margin: 10px;
}


/*  X. 404
 *
 *  Define styles for the display of 404 (Not Found) error page.
 *
 */

.not-found {
    text-align: center;

    h1 {
        margin: 40px 0;
        font-size: 50px;
    }
}

.search-submit {
    margin-left: 20px;
    background: none;
    font-size: $Fontsize-Default;
    font-family: 'icomoon';
    line-height: 1;
    cursor: pointer;
    speak: none;
} 
