/*  Reset
 *
 *   Reset default CSS rendering for predictable results across modern browsers.
 * 
 *   @package    WordPress
 *   @subpackage Copernicus
 *   @since      Copernicus 2.0
 *
 */

html {
	position: relative;
	overflow-y: scroll;
    min-height: 100%;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	line-height: 1;
}

header, main, footer, article, section, aside, details, figure, figcaption, nav, section, div {
	position: relative;
	display: block;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
}

blockquote, q {
	quotes: none;
	&:before, &:after {content: '';content: none;}
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

/* The micro clearfix http://nicolasgallagher.com/micro-clearfix-hack/ */

body, section, article, aside, figure, header, footer, div, nav {
	&:before, &:after {
		display:table;
		content:'';
	}
	
	&:after {
		clear:both;
	}
}